.status-bar {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  width: 30%;
}

.coaching-status {
  border: 1px solid #d7d7d7;
  border-radius: 0px 0px 10px 10px;
}

.coaching-status h3 {
  font-size: 24px;
  font-weight: 500;
}

.coaching-status .topbar {
  background-color: #e5e5e5;
}

.coaching-status .sorting-data {
  font-size: 12px;
  text-wrap: nowrap;
}

.coaching-status .coaching-content {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  width: 31%;
}

.coaching-content h4 {
  font-size: 14px;
  font-weight: 500;
}

.coaching-content .status-div {
  font-size: 13px;
  font-weight: 500px;
}

.coaching-content .name {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.coaching-content .location {
  font-size: 10px;
  font-weight: 400;
  color: #000000;
}

.coaching-content .time {
  font-size: 8px;
  font-weight: 400;
  color: #616161;
}

.coaching-content .note {
  font-size: 11px;
  font-weight: 400;
  color: #000000;
  line-height: 100%;
  font-style: italic;
  height: 5vh;
}

.coaching-content .button-note {
  background-color: #009bfa;
  color: white;
  width: 135px;
  height: 37px;
  padding: 12px 14px 12px 14px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
}

.coaching-content .button-msg {
  border: 1px solid #009bfa;
  color: #009bfa;
  background-color: white;
  width: 98px;
  height: 37px;
  font-size: 14px;
  padding: 12px 14px 12px 14px;
  border-radius: 12px;
}

.coaching-progress-status {
  border: 1px solid #d7d7d7;
  border-radius: 0px 0px 10px 10px;
}

.coaching-progress-status h3 {
  font-size: 24px;
  font-weight: 500;
}

.coaching-progress-status .topbar {
  background-color: #e5e5e5;
}

.coaching-progress-status .coaching-progress {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  width: 31%;
}

.coaching-progress h4 {
  font-size: 14px;
  font-weight: 500;
}

.coaching-progress .session {
  font-size: 10px;
  font-weight: 400;
  color: #6f7c8e;
}

.coaching-progress .content{
    height: 15vh;
}

.coaching-progress .status-div button {
  font-size: 13px;
  font-weight: 500px;
  background-color: #28a745;
  color: white;
}

.coaching-progress .name {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.coaching-progress .time {
  font-size: 11px;
  font-weight: 400;
  color: #616161;
}

.coaching-progress .button-note {
  background-color: #009bfa;
  color: white;
  width: 135px;
  height: 37px;
  padding: 12px 14px 12px 14px;
  border-radius: 12px;
  border: none;
  font-size: 12px;
}

.coaching-progress .button-msg {
  border: 1px solid #009bfa;
  color: #009bfa;
  background-color: white;
  width: 98px;
  height: 37px;
  font-size: 12px;
  padding: 12px 14px 12px 14px;
  border-radius: 12px;
}





.completed-status {
  border: 1px solid #d7d7d7;
  border-radius: 0px 0px 10px 10px;
}

.completed-status h3 {
  font-size: 24px;
  font-weight: 500;
}

.completed-status .topbar {
  background-color: #e5e5e5;
}

.completed-status .completed {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  width: 31%;
}

.completed h4 {
  font-size: 14px;
  font-weight: 500;
}

.completed .session {
  font-size: 10px;
  font-weight: 400;
  color: #6f7c8e;
}

.completed .content{
    height: 15vh;
}

.completed .status-div button {
  font-size: 13px;
  font-weight: 500px;
  background-color: #6C757D;
  color: white;
}

.completed .name {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.completed .time {
  font-size: 11px;
  font-weight: 400;
  color: #616161;
}

.completed .button-note {
  background-color: #009bfa;
  color: white;
  width: 135px;
  height: 37px;
  padding: 12px 14px 12px 14px;
  border-radius: 12px;
  border: none;
  font-size: 12px;
}

.completed .button-msg {
  border: 1px solid #009bfa;
  color: #009bfa;
  background-color: white;
  width: 98px;
  height: 37px;
  font-size: 12px;
  padding: 12px 14px 12px 14px;
  border-radius: 12px;
}

.cancel-btn button{
      font-size: 13px;
  font-weight: 500px;
  background-color: #FF0000;
  color: white;
}