.status-bar {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  /* padding: 5px 20px 5px 20px; */
  width: 30%;
}

.coaching-status {
  border: 1px solid #d7d7d7;
  border-radius: 0px 0px 10px 10px;
}

.coaching-status h3 {
  font-size: 24px;
  font-weight: 500;
}
.status-coachings img.rounded-circle {
    object-fit: cover;
}
.coaching-status .topbar {
  background-color: #e5e5e5;
}

.coaching-status .sorting-data {
  font-size: 12px;
  text-wrap: nowrap;
}

.coaching-status .coaching-content {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  width: 31%;
}

.coaching-content h4 {
  font-size: 14px;
  font-weight: 500;
}

.coaching-content .status-div {
  font-size: 13px;
  font-weight: 500px;
}

.coaching-content .name {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.coaching-content .location {
  font-size: 10px;
  font-weight: 400;
  color: #000000;
}

.coaching-content .time {
  font-size: 8px;
  font-weight: 400;
  color: #616161;
}

.coaching-content .note {
  font-size: 11px;
  font-weight: 400;
  color: #000000;
  line-height: 100%;
  font-style: italic;
  height: 5vh;
}

.coaching-content .button-note {
    color: #fff;
    background-color: #009bfa;
    border: none;
    border-radius: 12px;
    width: 135px;
    height: auto;
    padding: 12px 14px;
    font-size: 14px;
}

.coaching-content .button-msg {
  border: 1px solid #009bfa;
  color: #009bfa;
  background-color: white;
  width: 98px;
  height: auto;
  font-size: 14px;
  padding: 12px 14px 12px 14px;
  border-radius: 12px;
}
.coaching-progress-status .row {
  width: 100%;
}

.coaching-progress-status {
  border: 1px solid #d7d7d7;
  border-radius: 0px 0px 10px 10px;
}

.coaching-progress-status h3 {
  font-size: 24px;
  font-weight: 500;
}

.coaching-progress-status .topbar {
  background-color: #e5e5e5;
}

.coaching-progress-status .coaching-progress {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  width: 31%;
}

.coaching-progress h4 {
  font-size: 14px;
  font-weight: 500;
}

.coaching-progress .session {
  font-size: 10px;
  font-weight: 400;
  color: #6f7c8e;
}

/* .coaching-progress .content {
  height: 48%;
} */
.coaching-status .row {
  width: 100%;
}
.coaching-status .d-flex.justify-content-between.flex-wrap.py-4.px-4 {
  padding-right: 0px !important;
}

.coaching-progress .status-div button {
  font-size: 13px;
  font-weight: 500px;
  background-color: #28a745;
  color: white;
}

.coaching-progress .name {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.coaching-progress .time {
  font-size: 11px;
  font-weight: 400;
  color: #616161;
}

.coaching-progress .button-note {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 155, 250);
  border: none;
  border-radius: 12px;
  width: 135px;
  height: auto;
  padding: 12px 0px;
  font-size: 14px;
}

.coaching-progress .button-msg {
  border: 1px solid #009bfa;
  color: #009bfa;
  background-color: white;
  width: 98px;
  height: auto;
  font-size: 12px;
  padding: 12px 14px 12px 14px;
  border-radius: 12px;
}

.completed-status .row {
    width: 100%;
}

.completed-status {
  border: 1px solid #d7d7d7;
  border-radius: 0px 0px 10px 10px;
}

.completed-status h3 {
  font-size: 24px;
  font-weight: 500;
}

.completed-status .topbar {
  background-color: #e5e5e5;
}

.completed-status .completed {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  width: 31%;
}

.completed h4 {
  font-size: 14px;
  font-weight: 500;
}

.completed .session {
  font-size: 10px;
  font-weight: 400;
  color: #6f7c8e;
}

.completed .content{
    height: auto;
}

h4.coaching-tittle-text {
    font-size: 17px;
}
.coaching-status .sorting-data select {
    width: auto;
}

.completed .status-div button {
  font-size: 13px;
  font-weight: 500px;
  background-color: #6C757D;
  color: white;
}

.completed .name {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.completed .time {
  font-size: 11px;
  font-weight: 400;
  color: #616161;
}

.completed .button-note {
  background-color: #009bfa;
  color: white;
  width: 135px;
  height: auto;
  padding: 12px 14px 12px 14px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
}

.completed .button-msg {
  border: 1px solid #009bfa;
  color: #009bfa;
  background-color: white;
  width: 98px;
  height: auto;
  font-size: 12px;
  padding: 12px 14px 12px 14px;
  border-radius: 14px;
}

.cancel-btn button{
  font-size: 13px;
  font-weight: 500px;
  background-color: #FF0000;
  color: white;
}

.request-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-modal {
  background-color: #fff;
  width: 850px;
  max-width: 90%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease-in-out;
  border-radius: 17px;
}

.request-modal-header {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  background-color: #009BFA;
}

.request-modal-header h5{
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 20px;
}

.request-modal-main-body{
  overflow-y: scroll;
  height: 550px;
}

.request-modal-body {
  margin: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D7D7D7;
}

.request-modal-body h6{
  font-size: 20px;
  font-weight: 600;
}

.request-modal-body p{
  font-size: 16px;
  line-height: 24px;
  margin: 5px;
}

.request-modal-footer {
  padding: 20px;
}

.request-close-btn {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  line-height: 1;
  color: white;
  padding: 20px;
}
