.calendarDiv {
        background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .09);
}

.loading-calendar {
  text-align: center !important;
  padding-bottom: 20px;
}

.calendar-container {
  border: 1px solid #d7d7d7;
  border-radius: 5px 5px 0px 0px;
  padding: 0;
}
.calendar-title {
  font-weight: 600;
  margin-bottom: 10px;
}

.custom-calendar {
  border: none;
}

.react-datepicker__header {
  background: none;
  border-bottom: none;
  margin-bottom: 10px;
}

.react-datepicker__current-month {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  gap: 0.3rem;
}

.react-datepicker__navigation-icon::before {
  border-color: black;
}


.react-datepicker__day {
  width: 1.7rem;
  height: 1.7rem; 
  margin: 4px;
  padding: .1rem;
  border-radius: 50% !important;
}
.react-datepicker__day.day-green.react-datepicker__day--026.react-datepicker__day--keyboard-selected.react-datepicker__day--today {
  background: #0080FF !important;
  font-weight: 500;
  line-height: 1.8;
}
.matches-add .manage {
  justify-content: right;
  margin-top: 0;
  margin-right: 30px;
  display: flex;
  padding-bottom: 15px;
}

h2.react-datepicker__current-month {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.calendarDiv h3.text-lg.font-semibold.mb-4.quick-text {
  text-align: left;
  padding: 20px;
  font-size: 20px;
}

.react-datepicker__month-container {
  width: 311px;
}

.react-datepicker__day.day-red {
  background-color: #ff4d4f;
  color: white;
  line-height: 1.8;
}
/* .react-datepicker__navigation--previous {
  left: 52px;
} */
.react-datepicker__day.day-green {
  color: #fff;
  background-color: #50c878 !important;
  line-height: 1.8;
}
.react-datepicker__day.day-blue {
  background-color: #1890ff !important;
  color: white;
  line-height: 1.8;
}

.react-datepicker__day--selected {
  background-color: #000 !important;
  color: #fff !important;
}

.manage {
  margin-top: 20px;
}

.manage-buttons {
  color: #fff !important;
  cursor: pointer !important;
  background: #009bfa !important;
  border: none !important;
  border-radius: 12px !important;
  width: fit-content !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  padding: 15px 15px !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  font-family: 'Inter', sans-serif !important;
  height: 45px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap !important;
}

.manage-buttons i {
  display: inline-flex;
  align-items: center;
}

.manage-buttons:hover {
  background-color: #1677cc;
}


.legend {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  background-color: #F0F0F0;
  padding: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
}

.color-circle {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
}

.color-circle.green {
  background-color: #52c41a;
}

.color-circle.red {
  background-color: #ff4d4f;
}

.color-circle.blue {
  background-color: #1890ff;
}


@media only screen and (max-width: 767px) {

  .calendar-container {
    padding: 0;
    margin-top: 15px;
}



}