.content-wrapper {
    padding: 0px 20px 0px 38px;
}

.content-wrapper .card {
       border: 1px solid #d7d7d7;
    border-radius: 12px;
    padding: 20px !important;
}

.slots-available-input input#«ra» {
    margin-top: 8px;
    padding: 0px 10px;
}

.slots-available-input input#«r9» {
    margin-top: 8px;
    padding: 0px 10px;
}


.d-flex.gap-3.add-draft-service .mui-icons {
    width: 18px;
}

.content-wrapper h3{
    font-size: 24px;
    font-weight: 500;
}

input#«r0» {
    padding: 0px 10px;
    margin-top: 8px;
}

.coach-session-count {
    display: flex;
}
.d-flex.gap-1.add-draft-service .mui-icons {
    font-size: 20px;
    margin-top: 2px;
}

.custom-file-upload label {
    border: solid 1px #009BFA;
    padding: 5px 18px;
    background: #F2FFF7;
    border-radius: 50px;
}

.coach-price-currency {
    display: flex;
}

.coach-slot-and-availability {
    display: flex;
}

.validity-cancel-resedule {
    display: flex;
}

.session-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.session-card {
    /* overflow: hidden; */
    max-width: 450px;
    flex: 450;
    position: relative;
}

.session-card img {
    width: 100%;
    height: 30%;
    display: block;
    object-fit: cover;
}
.profile-form .form-group input, .form-group select, .form-group textarea {
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 16px;
    height: 48px;
    padding: 8px;
    font-size: 14px;
    margin-top: 3px;
}
.session-card .session-pkg-content {
    background-color: #f4f4f4;
    border-top: 10px solid #e7e6e6;
    height: 420px;
    margin-bottom: 0px;
    padding: 12px;
}
.icons-row.strength-value {
    display: flex;
    flex-wrap: nowrap;
}

.session-pkg-content h2 {
    font-size: 20px;
    margin: 10px 0;
}

.icons-row {
    color: #555;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
}

.icons-row.first-online-add {
    height: 80px;
}

.session-description {
    color: #444;
    margin-bottom: 15px;
    font-size: 14px;
    height: 55px;
}
.btn-action-add {
    display: flex;
    gap: 5px;
}

.circular-progress-bar{
    display: flex;
    text-align: center;
    justify-content: center;
}

.pkg-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
}
.profile-form input::placeholder {
    color: #696974 !important;
}

.profile-form .form-group input, .form-group select, .form-group textarea::placeholder {
    color: #696974 !important;
}
select#coaching_category {
    border: 0px;
}
select#age_group {
    border: none;
}
.form-group.col-md-4.number-of-session-input select.form-control {
    border: none;
}
.form-group.col-md-4.duration-per-session-input select.form-control {
    border: none;
}
.form-group.col-md-4.currency-input select#currency {
    border: none;
}
select#price_model {
    border: none;
}
select#cancellation_policy {
    border: none;
}
.action-btn button {
    color: #009BFA;
    background-color: #f4f4f4;
    border: none;
    font-size: 14px;
}

.custom-file-upload label.upload-btn {
    color: #009BFA;
}

.custom-file-upload {
    margin-top: 5px;
}

.status.status-published {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.status.status-published button {
  padding: 4px 10px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
}


.status-published button {
    color: #fff;
    background-color: #28a745;
    border-radius: 5px;
    padding: 5px 18px;
}

.status-unpublished button {
  background-color: #FFF6E8;
  color: #ED9B22;
  border: 1px solid #FFCC81;
    border-radius: 5px;
  padding: 5px 40px 5px 40px;
}

.status-draft button {
  background-color: #D7D7D7;
  color: #6C727F;
  border: 1px solid #767E94;
  border-radius: 5px;
  padding: 5px 40px 5px 40px;
}
.preview-section .session-preview-content .price {
    color: #1A1A1A;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}
.profile-form {
    display: flex !important;
    gap: 30px;
    width: 100% !important;
    margin-top: 25px !important;
}

.profile-form-add .card {
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    padding: 20px !important;
}

.profile-form-add {
    margin-top: 40px;
}

.profile-form-add h3.text-your-name {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
}

.profile-form .form-section{
    max-width: 55%;
}
.profile-form .preview-section {
    max-width: 55%;
    height: 809px;
}
.profile-form .preview-section button{
    background-color: #009BFA;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 20px;
    max-width: 100%;
    white-space: normal;
    text-align: center;
}

.preview-section .session-preview-content{
    background-color: #f4f4f4;
    border-top: 10px solid #e7e6e6;
    padding: 10px;
    height: auto;
}

.preview-section .session-preview-content h2{
    font-size: 22px;
}
/* .profile-form .preview-section img{
    max-height: 25vh;
} */

p.best-text {
    margin-bottom: 0px;
    font-size: 14px;
}
p.best-text-one {
    font-size: 14px;
    font-style: italic;
}

.form-group small{
    font-size: 10px;
    color: #696974;
}


.delivery-row {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}


.form-label {
  font-weight: 600;
  white-space: nowrap;
}


.delivery-checkboxes {
  display: flex;
  gap: 16px;
  align-items: center;
}


.delivery-checkboxes input {
    width: 15px;
    height: 15px;
}
/* .delivery-checkboxes input[type="checkbox"] {
  accent-color: #009BFA;
} */


.delivery-option {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.custom-file-upload {
    background-color: #e9eaec;
    border-radius: 40px;
    align-items: center;
    gap: 12px;
    width: 300px;
    padding: 10px 10px;
    display: flex;
    position: relative;
}

.profile-form .form-section select {
    border: 1px solid #d1d5db !important;
}


/* .upload-btn {
  background-color: #ecfffa;
  border: 2px solid #00aaff;
  color: #009BFA;
  font-weight: 600;
  border-radius: 24px;
  padding: 6px 16px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
} */

.file-name {
  color: #777;
  font-size: 14px;
}

.custom-file-upload input[type="file"] {
  display: none;
}


.profile-form .form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.profile-form textarea#description {
    height: 118px;
}

.profile-form .form-group label {
    margin-bottom: 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 0px;
}

.profile-form .form-group input,
.form-group select,
.form-group textarea {
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 16px;
    height: 48px;
    padding: 8px;
    font-size: 14px;
}

.profile-form .form-group.full-width {
    flex: 1 1 100%;
}

.profile-form button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #13498B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-form button[type="submit"]:hover {
    background-color: #0f3c73;
}


.profile-form p.set-text-one {
    color: #181A20;
    font-weight: 500;
    padding-top: 20px;
    font-family: 'Roboto';
}

.profile-form p.set-text {
    color: #181A20;
    padding-top: 0px;
    font-family: 'Roboto';
    margin-bottom: 25px;
}

.profile-form-add .form-group.goal {
    display: flex !important;
    flex-direction: row;
    gap: 10px;
}

.form-group.goal input[type="text"] {
    width: 100%;
    height: 118px;
}

.form-group.goal label {
    width: 68px;
}


.profile-form input#timings {
    margin-bottom: 15px;
}

.profile-form .form-group.check-box {
    display: flex !important;
    flex-direction: row;
    align-items: anchor-center;
    gap: 5px;
}

.profile-form .form-group.check-box label {
    margin-bottom: 0px;
    font-weight: 400;
}

     .form-group.check-box input#coachAgreement {
    width: 18px;
    cursor: pointer;
}


.action-button button.save-btn-add {
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    gap: 5px;
    margin: 20px auto auto;
    font-size: 15px;
    display: flex;
    background-color: #009bfa !important;
    padding: 10px 20px !important;
}

.action-button .save-btn-add:hover {
    background-color: #009BFA !important;
}
.action-button .save-btn {
    /* float: right; */
    white-space: normal;
    text-align: center;
    width: 100%;
    padding: 12px 20px 11rem;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}
.disabled-bg {
  background-color: #E7E8E9 !important;
  color: #696974 !important;
}
.two-number-add-list {
    display: flex;
    width: 48%;
    justify-content: flex-end;
}

.action-button span.number-color {
    color: #009df6;
}


@media (max-width: 800px) {
    .session-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

.upgrade-banner .upgrade-banner-text{
    font-size: 20px;
    font-weight: 400;
}

.upgrade-banner .upgrade-btn{
    background-color: #009BFA;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.upgrade-banner .upgrade-btn:hover{
    background-color: #009BFA;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}
