.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    vertical-align: middle;
    margin-top: -3px;
    display: inline-block;
    font-size: 16px !important;
    line-height: 1.5 !important;
}
.sidebar.collapsed {
    width: 53px !important;
}
nav#sidebar a.nav-link {
    padding: 14px !important;
    text-wrap: auto;
}
.text-with-check-icons svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1umw9bq-MuiSvgIcon-root {
    color: #27C200 !important;
    font-size: 20px !important;
}
.flex.items-center.mt-4.side-top-bar {
    margin-top: 30px !important;
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom:30px;
    overflow: hidden;
}
.side-bar-left-top {
    border-bottom: solid 1px #EBEEF7;
}
.side-top-bar h5.font-medium {
    align-items: center;
    gap: 9px;
    margin-bottom: 3px;
    display: flex;
    font-size: 16px;
}

.side-top-bar h5.font-medium svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-q7mezt {
    color: #27c200 !important;
}

.side-top-bar p.text-sm.text-gray-500 {
    color: #767e94;
    margin-bottom: 0;
    font-size: 13px;
}
.side-top-bar i.bi.bi-check-circle-fill {
    font-size: 15px !important;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link, .sidebar .nav:not(.sub-menu) > .nav-item:hover[aria-expanded="true"] {
    color: #009bfa !important;
    background: #e8f7ff !important;
    border-radius: 0px;
    border-left: solid 3px;
}
.sidebar .nav:not(.sub-menu) > .nav-item > .nav-link {
    margin: 0;
    border-left: solid 3px #fff;
}
.sidebar .nav:not(.sub-menu)>.nav-item.active {
    background: #fff !important;
}
.sidebar .nav .nav-item:hover > .nav-link i, .sidebar .nav .nav-item:hover > .nav-link .menu-title, .sidebar .nav .nav-item:hover > .nav-link .menu-arrow {
    color: #009BFA !important;
}

.link-nav:active, .active {
    border: none !important;
}
.sidebar .nav .nav-item .nav-link {
    white-space: nowrap;
    border-radius: 8px;
    align-items: center;
    padding: 5px 14px !important;
    line-height: 1.9;
}
li.nav-item.sign-out a.nav-link {
    padding: 14px !important;
}
li.nav-item.explore-tab {
    padding-top: 50px;
}
li.nav-item.profile-tab {
    padding-top: 50px;
}
.sign-out a.nav-link:hover {
    color: #fff;
    background: #4b49ac;
    white-space: nowrap;
    border-radius: 8px;
    align-items: center;
    padding: 14px 14px !important;
    line-height: 1.9;
}
nav#sidebar ul.nav {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

nav#sidebar a.nav-link div {
    justify-content: center;
    align-items: center;
    gap: 13px;
    display: flex;
}
i.bi.bi-check-circle-fill {
    color: #27c200;
}

li.nav-item.explore-tab {
    padding-top: 0px;
}
span.menu-title.message-text {
    line-height: 1.5 !important;
}
li.nav-item.account-settings-tab {
    padding-top: 50px;
}

