.pro-coach-banner {
    color: #fff;
    background: #09f;
    border-radius: 10px;
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
    padding-bottom: 0px;
}

.readonly-toggle {
    cursor: default;
}

.readonly-toggle .toggle-switch {
    pointer-events: none;
}


button.btn.btn-not-pro-learn.mt-2 {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
    margin-bottom: 30px;
    padding: 5px 30px;
    font-weight: 500;
    margin-right: 20px;
}

button.btn.btn-not-pro-learn.mt-2:hover {
    color: #09f;
    background-color: #fff;
}
.try-pro-free ul {
    padding-left: 0px;
    list-style: none;
}
p.try-text-add {
    background: #009BFA;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}
.try-pro-free button {
    color: #fff;
    background: #009bfa;
    border: none;
    border-radius: 12px;
    justify-content: center;
    gap: 6px;
    margin: auto auto 20px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.try-pro-free button .mui-icons {
    font-size: 19px;
}
.try-pro-free ul li {
    margin-bottom: 8px;
}

.current-sub-plan .subscription-card i {
    padding-right: 3px;
}

.pro-coach-banner .btn-learn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 9px;
    padding: 5px 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.pro-coach-banner .btn-learn:hover {
    background-color: #fff;
    color: #0099ff;
}
.pro-coach-banner .you-currently-text {
    width: 96%;
    font-family: inter;
    font-size: 45px;
}
.pro-coach-banner p.leverage-text {
    width: 92%;
    padding: 10px 0;
    font-family: inter;
    font-size: 15px;
}

.pro-coach-banner img.coach-image {
    width: 100%;
}
.pro-plan-right-side-img {
    padding-right: 0px;
    margin-right: -20px;
    margin-bottom: -15px;
}

.current-sub-plan .subscription-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 48%;
}
.current-sub-plan .badge-active {
    color: #50c878;
    background-color: #dff5fd;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 500;
}
.current-sub-plan .badge-monthly {
    background-color: #e0f2fe;
    color: #0284c7;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 15px;
}
.current-sub-plan .subscription-title {
    color: #009BFA;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}
.current-sub-plan .subscription-price {
    font-weight: bold;
    font-size: 20px;
}
.current-sub-plan .benefit-list li {
    margin-bottom: 8px;
    list-style: none;
}
.current-sub-plan .notification-bar {
    color: #333;
    background-color: #e0f2fe;
    border-radius: 5px;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
    display: inline-flex;
    width: 48%;
}
.current-sub-plan .notification-bar i {
    font-size: 16px;
    margin-right: 8px;
    color: #6b7280; /* gray */
}
.current-sub-plan.card {
    margin-top: 40px;
    padding: 30px;
    margin-left: -11px;
    margin-right: -11px;
}

.current-sub-plan.card h4 {
    padding-top: 30px;
    font-family: inter;
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}
.current-sub-plan .subscription-card button.btn.btn-primary.btn-sm {
    background: #009bfa;
    border: none;
    border-radius: 11px;
    width: 30%;
    padding: 13px 0;
    font-family: inter;
}

.monthly-paid .switch {
    width: 50px;
    height: 24px;
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.monthly-paid .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.monthly-paid .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.monthly-paid .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.monthly-paid input:checked + .slider {
    background-color: #009BFA;
}

.monthly-paid input:checked + .slider:before {
    transform: translateX(26px);
}
.auto-renew-add {
    justify-content: space-between;
} 
.auto-renew-add .form-switch .form-check-input:checked {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    background-position: 100%;
    padding: 11px 25px;
    margin-right: 8px;
    cursor: pointer;
}

.auto-renew-add .form-switch .form-check-input {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-image: var(--bs-form-switch-bg);
    background-position: 0;
    border-radius: 2em;
    width: 2em;
    margin-left: -2.5em;
    transition: background-position .15s ease-in-out;
    padding: 11px 25px;
    margin-right: 8px;
    box-shadow: none;
    cursor: pointer;
}

.auto-renew-add .form-check.form-switch.me-3 {
    align-items: center;
    gap: 5px;
    padding-left: 0;
    font-size: 15px;
    display: flex;
    margin-right: 0px !important;
} 
.payment-method-part {
    padding-top: 30px;
}

.payment-method {
    padding-top: 10px;
    display: flex;
    gap: 25px;
}

.payment-method .payment-method-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    position: relative;
    cursor: pointer;
    min-width: 140px;
    background: #fff;
    margin-right: 10px;
}
.payment-method .payment-method-card.active {
    border-color: #2D89D4;
    box-shadow: 0 0 0 1px #2D89D4;
    background: #E9F4FD;
}
.payment-method .payment-method-card .remove-btn {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    background: #B3B8BC;
    width: 20px;
    border-radius: 100px;
    display: flex;
    float: right;
    justify-content: center;
    margin-top: 10px;
}
.payment-method .payment-method-card .add-icon {
    color: #fff;
    background: #b3b8bc;
    border-radius: 100px;
    justify-content: center;
    align-items: normal;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
}
.payment-method .status-paid {
    background-color: #198754;
    color: #fff;
    border-radius: 12px;
    padding: 2px 10px;
    font-size: 12px;
}

.debit-card-inner {
    display: flex;
    align-items: center;
}
.payment-method-part small {
    text-align: left;
    display: flex;
    padding-bottom: 8px;
}
.payment-method-part .card-number {
    color: #000000;
}

.payment-method-card.d-flex.justify-content-center.align-items-center {
    background: #F2F2F4;
    width: 25%;
}

.payment-method-card.active i.bi.bi-check-circle-fill {
    color: #009BFA;
    position: absolute;
    right: -5px;
    top: -11px;
    background: #fff;
    height: 19px;
}

.payment-history {
    padding-top: 30px;
}

.payment-history .table-responsive.card {
    margin-top: 18px;
}

.payment-history .table-bordered > :not(caption) > * > * {
    border-width: 0 var(--bs-border-width);
    border: none;
}

.payment-history .table-bordered > :not(caption) > * {
    border-width: var(--bs-border-width) 0;
    border: none;
}

.payment-history thead.table-light th {
    background: #E5E5E5;
}
.payment-history span.status-paid {
    background: #42A63C;
    color: #fff;
    border-radius: 6px;
    padding: 4px 13px;
}
.payment-history table.table.table-bordered.bg-white a {
    color: #009bfa;
    text-decoration: none;
}



.monthly-paid .toggle-switch {
    width: 111px;
}

.monthly-paid .toggle-switch.active .switch-knob {
    left: 88px;
}

.auto-renew-add .d-flex.align-items-center.gap-2.mb-3 {
    margin-bottom: 0px !important;
}

.current-sub-plan.card .modal-content {
    background: #f4f3f9;
}
.your-plan-popup {
    text-align: center;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px #0000000d;
}
.your-plan-popup button.btn {
    color: #fff;
    background: #009bfa;
    border: none;
    border-radius: 50px;
    padding: 12px;
    width: 84% !important;
}
.your-plan-popup .plan-features.mb-3 {
    color: #a6a6a6;
    width: 90%;
    margin: auto auto 15px;
    padding-top: 15px;
    font-family: Inter;
    margin-bottom: 0px !important;
    font-weight: 400;
}

.your-plan-popup .card-body {
    padding-top: 0px;
}
.your-plan-popup .card-header {
    background: #fff;
    border: none;
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 0px;
}
.your-plan-popup h3.text-primary {
    margin-top: 0px;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    color: #191a15 !important;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.row.choose-your-plan-popup .Year .your-plan-popup {
    background: url(/coachsparkle/images/price-bg-img.png);
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}
.row.choose-your-plan-popup .Year h3.text-primary {
    color: #fff !important;
}
.choose-your-plan-popup .Year h3.text-primary small {
    color: #fff !important;
}

.choose-your-plan-popup .Year span.dollar_text {
    color: #fff !important;
}
.choose-your-plan-popup .Year .your-plan-popup .plan-features.mb-3 {
    color: #fff;
}

.choose-your-plan-popup .Year .your-plan-popup .card-header {
    background: none;
}
.your-plan-popup .card-footer {
    padding: 15px;
}
.subscription-view-plan h5.modal-title {
    font-size: 22px;
}

.choose-your-plan-popup h5.card-title.mb-0 {
    font-size: 23px;
}



.current-sub-plan.card .modal-body {
    padding: 30px !important;
}

.your-plan-popup span.dollar_text {
    font-size: 18px;
    margin: 24px 5px;
    color: #a6a6a6;
} 
.subscription-view-plan .modal-footer button.btn.btn-secondary {
    background: #009bfa;
    border: none;
}

.free-list-plan ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
.free-list-plan {
    background-color: #f3f7fb;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
}


.free-list-plan i.bi.bi-check {
    color: #fff;
    background-color: #009bfa;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    display: flex;
    margin-top: 2px;
}
.free-list-plan i.bi.bi-check:before {
    line-height: 22px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.free-list-plan ul li {
    gap: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    color: #000;
}

.choose-your-plan-popup .Month button.btn {
    background: none;
    color: #000;
    box-shadow: 0 5px 15px #0000001a;
    border: 1px solid #009bfa;
    background: #fff;
}





@media only screen and (max-width: 767px) {

    .pro-coach-banner .you-currently-text {
        width: 100%;
        font-size: 28px;
    }

    .pro-coach-banner-botm {
        margin-bottom: 0px !important;
    }

    .pro-coach-banner .btn-learn {
        margin-bottom: 0px;
    }

    .pro-plan-right-side-img {
        margin-bottom: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0px;
    }
    .pro-coach-banner {
        padding: 20px 10px 0;
        position: relative;
    }
    
    .current-sub-plan.card h4 {
        padding-top: 15px;
        font-size: 22px;
    }

    .current-sub-plan .subscription-card {
        border-radius: 8px;
        width: 100%;
    }

    .monthly-paid .toggle-switch {
        width: 111px;
        margin-top: 13px;
    }
    .auto-renew-add {
        display: block !important;
    }

    .current-sub-plan .subscription-card button.btn.btn-primary.btn-sm {
        width: 100%;
        padding: 10px 0;
        margin-top: 15px;
    }

    .current-sub-plan.card {
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
    }
    .payment-method {
       display: block;
    }

    .payment-method .payment-method-card {
        position: relative;
        height: 111px;
        margin-right: 0px;
    }

    .budget-tabs-right {
        padding-left: 10px;
    }

    .budget-tabs-left {
        padding-right: 0px;
    }

    .payment-method .payment-method-card.active {
        margin-bottom: 15px;
    }

    .payment-method .payment-method-card {
        margin-bottom: 15px;
    }
    .payment-method-card.d-flex.justify-content-center.align-items-center {
        width: 100%;
    }

    .payment-history {
        padding-top: 0px;
    }
    
    .payment-method-part {
        padding-top: 10px;
    }

    .payment-method .payment-method-card .add-icon {
        line-height: 1;
        width: 30px;
        height: 30px;
    }
    
    .pro-coach-banner p.leverage-text {
        width: 100%;
        margin-bottom: 0px;
    }

    .current-sub-plan .subscription-title {
        padding-top: 0px;
    }
    



}