/* ------------ coach-list css ------------------ */



/* .custom-calendar .react-datepicker__day.day-green {
  background-color: #d4edda !important;
  color: #155724 !important;
  border-radius: 50% !important;
}

.custom-calendar .react-datepicker__day.day-red {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  border-radius: 50% !important;
}

.custom-calendar .react-datepicker__day.day-blue {
  background-color: #d1ecf1 !important;
  color: #0c5460 !important;
  border-radius: 50% !important;
}

.custom-calendar .react-datepicker__day.day-green:hover {
  background-color: #c3e6cb !important;
}

.custom-calendar .react-datepicker__day.day-red:hover {
  background-color: #f1b0b7 !important;
}

.custom-calendar .react-datepicker__day.day-blue:hover {
  background-color: #bee5eb !important;
}

.custom-calendar .react-datepicker__day--selected {
  background-color: #007bff !important;
  color: white !important;
} */



.no-artical {
    width: 100%;
}

.swiper-slide.swiper-slide-next {
    margin-right: 10px !important;
}

.coach-banner-add .banner-text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  font-family: "Inter";
}
div#loginModal .modal-dialog.modal-dialog-centered.modal-lg {
  top: 90px;
}
.title-banner p {
  color: #ffffff;
}

.search-container .search-input {
  border: 1px solid #d7d7d7;
  border-radius: 12px;
  width: 700px;
  height: 60px;
  padding-left: 20px;
  font-family: Roboto;
  font-size: 17px;
}
.search-container {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.search-container .search-input:focus {
  box-shadow: none;
}

.coach-banner-add .banner {
  position: relative;
  height: 400px;
  background: url(/coachsparkle/images/coach-list-banner-img.webp) 0 0 / cover
    no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coach-banner-add .container.list-start {
  display: flex;
  padding: 20px;
  gap: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
  padding-bottom: 60px;
}
button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-qct7wd-MuiButtonBase-root-MuiPickersDay-root {
  background: #fb3f4a;
  color: #fff;
  border: none;
}
.coach-banner-add .filter-section .css-5wchs2-MuiDateCalendar-root {
  overflow: hidden;
  width: 100% !important;
}
.MuiDateCalendar-root.css-w6tl5u {
  width: 100% !important;
}
.MuiDayCalendar-header.css-1rl1vrc-MuiDayCalendar-header {
  width: 100% !important;
  justify-content: space-around !important;
}

.trial-offer svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1umw9bq-MuiSvgIcon-root {
  margin-right: 5px;
}

.MuiDayCalendar-weekContainer.css-1pv2de5-MuiDayCalendar-weekContainer {
  justify-content: space-around !important;
}

.coach-profile-list-right .css-w6tl5u {
  overflow: hidden;
  width: 100%;
  max-height: 336px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  height: 336px;
}

.col-md-4.coach-profile-list-right .css-1bm6bgu {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
}

.coach-profile-list-right .css-cy45vv {
  margin: 2px 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  justify-content: space-around;
}

.coach-profile-list-right
  button.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.css-tz7n0g {
  background: red;
  border: none;
  color: #fff !important;
}
.sim-coachs .coaches-view-cards .card img {
    cursor: pointer;
    object-fit: cover;
    object-position: top;
    border-radius: 20px 20px 0 0;
    /* width: auto; */
    min-width: -webkit-fill-available;
    height: 200px;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden .swiper-wrapper {
  margin-top: 10px;
  gap: 25px;
} */
/* Sidebar */
.coach-banner-add .sidebar {
  width: 315px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
  padding-top: 0px;
  border-right: 0;
}
.coach-banner-add .container.list-start .fav-list svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.mui-iconss.css-q7mezt  {
  color: #fff !important;
}
.coach-action-profile-icon svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.mui-iconss.css-q7mezt {
  color: #009bfa !important;
}
.coach-banner-add .sidebar input[type="text"] {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 12px;
  border: solid 1px #d7d7d7;
  font-size: 13px;
  font-family: "Roboto";
  color: #666666;
  height: 50px;
}

.coach-banner-add .sidebar input[type="text"]:focus-visible {
  outline: none;
}

.coach-banner-add .results {
  font-size: 13px;
  color: #333333;
  margin-bottom: 20px;
  font-family: "Roboto";
  padding-left: 20px;
}

.coach-banner-add .filter-section {
  margin-bottom: 20px;
  box-shadow: 0 2px 8px #d7d7d7;
  border-radius: 4px;
  padding: 10px;
}
.coach-banner-add .filter-section h4 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 18px;
  border-bottom: solid 1px #d7d7d7;
  padding-bottom: 13px;
  padding-left: 0px;
  padding-top: 13px;
  margin-left: 10px;
  margin-right: 10px;
}

.coach-banner-add .filter-section button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-right: -1px;
}

.coach-banner-add .filter-section label {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
  font-family: "Roboto";
  color: #333333;
  margin-right: 0px;
  margin-left: 10px;
}

span.MuiButtonBase-root {
  padding: 0px !important;
}
.coach-banner-add .filter-section span.MuiTypography-root {
  margin-left: 5px;
}

.coach-banner-add .filter-section a {
  font-size: 12px;
  color: #333333;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
}
.coach-banner-add i.bi.bi-briefcase {
  font-size: 20px;
  padding-left: 2px;
}
.coach-banner-add .filter-section a:hover {
  color: #009bfa;
}

/* Coach Cards */
.coach-banner-add .main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.coach-banner-add .coach-card {
  background: #fff;
  border-radius: 12px;
  gap: 20px;
  padding: 25px;
  display: flex;
  position: relative;
  box-shadow: 0 5px 20px #0000002b;
  border: solid 1px #D7D7D7;
}
.coach-profile-list-left .coach-card {
  border: none;
}

.coach-profile-list-left {
  padding-left: 0;
  border: 1px solid #d7d7d7;
  border-radius: 12px;
  box-shadow: 0 5px 20px #0000002b;
}

.coach-banner-add .coach-card img {
  width: 200px;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
}

.coach-banner-add .coach-info {
  flex: 1;
}
.coach-banner-add .coach-info h2 {
  margin: 0 0 5px;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 600;
  color: #000000;
  text-transform: capitalize;
}
.coach-banner-add p.reviews-text i {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  padding-right: 9px;
}

.coach-banner-add .description {
  margin: 0px 0;
  color: #000000;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 24px;
  padding-right: 0px;
  padding-bottom: 15px;
  margin-top: -5px;
}
.coach-banner-add .tags span {
  display: inline-block;
  background: #e7e8e9;
  border-radius: 8px;
  padding: 6px 15px;
  margin: 5px 5px 0 0;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  font-family: "Roboto";
}
.coach-banner-add .coach-actions {
  text-align: right;
  min-width: 155px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.coach-banner-add .coach-actions .price {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
  font-family: "Inter";
}
.coach-banner-add button.book {
  background-color: #009bfa;
  opacity: .8;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: default !important;
  font-size: 14px;
  font-weight: 600;
}
/* .coach-banner-add button.book:hover {
  background-color: #1489d1;
} */

.coach-banner-add button.book-latest-package {
  background-color: #009bfa;
  color: white;
  border: none;
  padding: 10px 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.coach-banner-add button.book-latest-package:hover {
  background-color: #1489d1;
}

.coach-banner-add button.profile {
  background: none;
  color: #009bfa;
  border: 1px solid #009bfa;
  padding: 10px 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
.coach-banner-add button.profile:hover {
  background-color: #1489d1;
  color: #fff;
}
.coach-banner-add p.reviews-text span {
  font-weight: 600;
}
.coach-banner-add p.reviews-text {
  font-size: 18px;
  font-family: "Inter";
  margin-bottom: 10px;
}
.coach-banner-add p.senior-engineer-text {
  align-items: center;
  gap: 3px;
  margin-bottom: 20px;
  display: flex;
}
.coach-banner-add p.senior-engineer-text strong {
  font-family: Inter;
  font-size: 15px;
}

.coach-banner-add .tags span:hover {
  background-color: #009bfa;
  color: #fff;
}

.coach-banner-add button.profile {
  background: none;
  color: #009bfa;
  border: 1px solid #009bfa;
  padding: 9px 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  width: 155px;
}
.coach-banner-add i.bi.bi-arrow-right {
  padding-left: 3px;
}
.senior-engineer-details-add {
  gap: 50px;
  display: flex;
  justify-content: space-between;
}

.filter-section.rating-add label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.filter-section.rating-add input[type="checkbox"] {
  margin-right: 0px;
}
.filter-section.rating-add i.bi.bi-star {
  font-size: 18px;
  color: #000000;
}

.coach-banner-add .sidebar p.range-value input#amount {
  box-shadow: none !important;
  border: none;
  margin-top: 0px;
}
.coach-banner-add .sidebar p.range-value input#amount:focus {
  outline: none;
}
.price-range-box {
  text-align: center;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  width: 60%;
  margin: 30px auto auto;
  padding: 8px;
}
.price-range-box span {
  color: #333333;
  font-weight: 500;
  font-size: 14px;
}

.css-1asissc-MuiSlider-valueLabel {
  background-color: #009BFA !important;
}

.price-range-box span.separator {
  padding: 0px 24px;
  font-size: 18px;
}

span.MuiSlider-track.css-xvk2i-MuiSlider-track {
  background: #009BFA;
  border: solid 2px #009BFA;
}


.price-range-slider {
  width: 100%;
  float: left;
  padding: 10px 20px;
  padding-top: 0px;
  padding-bottom: 15px;
  .range-value {
    margin: 0;
    input {
      width: 100%;
      background: none;
      color: #000;
      font-size: 16px;
      font-weight: initial;
      box-shadow: none;
      border: none;
      margin: 20px 0 20px 0;
    }
  }

  .range-bar {
    border: none;
    background: #009bfa;
    height: 3px;
    width: 96%;
    margin-left: 8px;

    .ui-slider-range {
      background: #009bfa;
    }
    .ui-slider-handle {
      border: none;
      border-radius: 50px;
      background: #fff;
      border: 3px solid #009bfa;
      height: 17px;
      width: 17px;
      top: -0.52em;
      cursor: pointer;
    }
  }

  .ui-widget.ui-widget-content {
    border: 3px solid #009bfa;
  }
}

.coach-banner-add .sidebar .range-values {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
}

.coach-banner-add .filter-section p.usd-text {
  font-family: "Roboto";
  text-align: center;
  font-size: 13px;
  color: #333333;
  padding-bottom: 0px;
  font-weight: 500;
}
.coach-banner-add .sidebar .filter-services {
  padding-left: 18px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.paginaetd-icons .pagination {
  justify-content: left !important;
}
.mui-icons.east-icons-add {
  margin-top: -2px;
  margin-left: 4px;
  font-size: 18px;
}
.pagination-content-inner .pagination {
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 0px;
  font-family: sans-serif;
  display: flex;
}
.pagination-content-inner .page-btn,
.page-number {
  padding: 8px 12px;
  border: 1px solid #e5e7eb;
  background-color: white;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s, color 0.2s;
}
.pagination-content-inner .page-number.active {
  background-color: #000;
  color: #fff;
  border-color: #000;
  padding: 8px 13px;
}

.pagination-content-inner .page-btn:hover,
.page-number:hover:not(.active) {
  background-color: #f3f4f6;
}
.pagination-content-inner button.page-number {
  padding: 8px 13px;
}

.pagination-content-inner button.page-number:hover {
  background-color: #000 !important;
  color: #fff;
}
.pagination-content-inner .pagination i {
  font-size: 13px;
}

/*--- /.price-range-slider ---*/

/*coach-profile-detail-css-desktop*/

.coach-action-profile-icon i.bi.bi-heart {
  background-color: #009bfa26;
  padding: 10px 12px;
  border-radius: 4px;
  color: #009bfa;
  font-size: 21px;
  cursor: pointer;
  line-height: 2.5;
}
.coach-profile-list-add span.verified-text {

  font-size: 14px;
  background-color: #e4f9e0;
  border-radius: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 35px;
}

.box-txts {
  display: inline-flex;
  margin-bottom: 10px;
}
.box-txts .verified-text {
  margin-right: 7px;
}

.coach-profile-list-left .coach-info h2 {
  margin: 0 0 10px;
  font-size: 24px;
  font-family: "Inter";
  font-weight: 600;
  color: #000000;
  display: flex;
  gap: 20px;
}

.coach-profile-list-add i.bi.bi-check {
  background-color: #27c200;
  color: #fff;
  border-radius: 100px;
  font-size: 20px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.coach-profile-list-inner {
  padding: 50px 0;
}

.coach-profile-list-left .profile-card {
  color: #333;
  background: #fff;
  border-radius: 8px;
  width: 100%;
}
.coach-profile-list-left .badge {
  display: inline-block;
  background: #f8f4e9;
  color: #b38e00;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 12px;
  font-weight: bold;
}

.coach-profile-list-left .info-item {
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
}
.coach-profile-list-left .tags {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: baseline;
}

.coach-profile-list-left .tags h6 {
  font-weight: bolder;
  cursor: pointer;
}

.coach-profile-list-left .tag {
  background: #f0f0f0;
  border-radius: 8px;
  padding: 4px 10px;
  font-size: 12px;
  color: #555;
}
.senior-engineer-details-add .profile-card i {
  font-size: 20px;
  padding-right: 10px;
}
.senior-engineer-details-add .profile-card span {
  font-size: 16px;
  color: #000000;
  font-family: "Inter";
  padding: 10px 15px;
  border-radius: 50px;
}
.coach-action-profile-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: #009bfa !important;
  cursor: pointer;
  background-color: #009bfa26;
  border-radius: 4px;
  padding: 0px 13px;
  font-size: 21px;
  line-height: 2.3;
}

.coach-profile-list-left .coach-card {
  align-items: flex-start;
}
.coach-profile-list-left p.senior-engineer-text {
  margin-top: 0;
  margin-bottom: 0;
  width: 80%;
}

.coach-profile-list-left .profile-card span.badge {
  font-size: 14px;
  color: #997300;
  font-family: "Inter";
  padding: 10px 15px;
  border-radius: 50px;
}
.coach-profile-list-left .profile-card i {
  color: #000000;
}

.coach-profile-list-left .profile-card .info-item span {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  font-size: 15px;
  padding-right: 0;
}
.coach-profile-list-left .tags span {
  padding: 5px 13px;
}

.coach-profile-content .coach-card {
  box-shadow: none;
  padding: 0px;
}
.rating-star-adding {
  margin-left: 15px;
}
.coach-profile-list-left .profile-card .badge-tag {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
}

.coach-profile-content {
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
}
.coach-profile-list-left .about-section {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.coach-profile-list-left .about-section h4 {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
}
.prev-next-arrow.d-flex.gap-3 {
  padding-top: 25px;
}
.coach-profile-list-left .about-section p {
  color: #000000;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 20px;
}


.about-section.package_short .session-card img {
  width: 100% !important;
  height: 228px !important;
  display: block !important;
  object-fit: cover !important;
}
.coaches-view-cards .card:hover {
    transform: none !important;
    box-shadow: none !important;
}
/* .about-section.sim-coachs .col-md-4.item {
  min-width: fit-content !important;
} */
.about-section.sim-coachs .swiper .col-md-4.item {
  min-width: 250px;
}
.about-section.sim-coachs {
  display: block;
}
.about-section .swiper-slide.swiper-slide-active {
  width: 250px !important;
}
.about-section .swiper-slide.swiper-slide-next {
  width: 250px !important;
}
.about-section.package_short .session-list {
    color: rgb(68, 68, 68) !important;
    height: auto !important;
    margin: 0px 0px 15px !important;
    padding-left: 20px !important;
    font-size: 14px !important;
}

.review-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.review-section .review-card {
  display: flex;
  align-items: flex-start;
  gap: 35px;
  padding: 10px 0;
}

.review-section .review-card img {
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

span.less-more-conent {
    cursor: pointer;
    font-weight: 500;
    color: #009df6;
}


.review-section .review-content {
  flex: 1;
}

.review-section .review-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
.rating-star-adding img {
  width: 80px !important;
  height: 20px !important;
  object-fit: contain !important;
}

.review-section .review-stars {
  color: orange;
  font-size: 16px;
}

.review-section .review-text {
  margin-top: 5px;
  color: #000000;
  line-height: 1.6;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
}
.review-section .review-adding {
  display: flex;
  gap: 10px;
}
.review-section .review-content strong {
  color: #000000;
  font-size: 15px;
  font-family: "Roboto";
}
.review-section strong.profile-name {
  color: #000000;
  font-family: "Roboto";
  font-size: 15px;
}

small.month-date-add {
  color: #778088;
  font-weight: 600;
  font-size: 13px;
  font-family: "Roboto";
}
h5.what-user-text {
  color: #000000;
  padding-top: 30px;
}

.services-offered span {
  padding: 5px 15px !important;
}

.services-offered .tags {
  gap: 8px;
  row-gap: 10px;
  margin-top: 15px;
}

.services-offered {
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
}

.related-coaches-inner .col-12.col-sm-6.col-md-4.coaches-view-cards {
  width: 91%;
}
.related-coaches-inner .coaches-view-cards .card:hover {
  transform: translateY(0px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.related-coaches-inner h5.card-title {
  margin-bottom: 6px;
}
.related-coaches {
  padding-top: 10px;
}
.related-coaches h5.what-user-text {
  padding-bottom: 20px;
}
.related-coaches p.card-text {
  font-size: 14px;
}
.related-coaches .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  padding-bottom: 30px;
}

.related-coaches .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block;
}
.col-md-8.coach-profile-list-left {
    padding-left: 0;
    padding-right: 0px !important;
}
.col-md-4.coach-profile-list-right {
  padding-right: 0;
}

.coach-profile-list-right .profile-card {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  background: #fff;
}
.coach-profile-list-left .senior-engineer-details-add {
  display: flex;
  gap: 0px;
}
.coach-profile-list-right .top-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px 0px 0px;
}

.coach-profile-list-right .price {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 5px;
}
.coach-profile-list-right .trial-offer .bi-patch-check::before {
  content: "\f4b6";
  font-weight: 600 !important;
}
.coach-profile-list-right .price span {
  font-size: 19px;
}

.coach-profile-list-right .btn-primary,
.btn-secondary {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 13px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.coach-profile-list-right .btn-primary {
  background-color: #009bfa;
  color: white;
  font-family: "Roboto";
  height: 50px;
  border-radius: 4px;
}

.coach-profile-list-right .btn-secondary {
  background-color: #f8f9fa;
  color: #000000;
  border: 1px solid #009bfa;
  font-family: "Roboto";
  height: 50px;
  border-radius: 4px;
}
.coach-profile-list-right .trial-offer {
  margin: 15px 0;
  margin-top: 25px;
  font-size: 14px;
  background-color: #d9f0fe;
  padding: 5px 15px;
  border-radius: 4px;
  color: #000000;
  display: flex;
  gap: 10px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.coach-profile-list-right .trial-offer label {
  margin-left: 8px;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  font-family: "Roboto";
}
.coach-profile-list-right .trial-offer span {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  font-family: "Roboto";
}
.coach-profile-list-right .social-links {
  display: block;
  gap: 10px;
  margin-top: 25px;
}
.coach-profile-list-right .social-links img {
  margin-right: 10px;
}
.contact-now-add {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coach-profile-list-right .calendar {
  width: 100%;
  font-family: Arial, sans-serif;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) !important;
  padding: 0px;
  border: solid 1px #d7d7d7;
  max-width: 100%;
  margin-top: 35px;
}

.coach-profile-list-right .calendar-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.coach-profile-list-right .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 6px;
  font-size: 14px;
}

.coach-profile-list-right .calendar-grid div {
  padding: 8px 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.coach-profile-list-right .available {
  background-color: #d4f8d4;
  color: #28a745;
}

.coach-profile-list-right .unavailable {
  background-color: #f8d7da;
  color: #dc3545;
}

.coach-profile-list-right .calendar-legend {
  margin-top: 0;
  display: flex;
  font-size: 12px;
  color: #555;
  background: #f0f0f0;
  border-top: solid 1px #d7d7d7;
  padding: 15px;
  border-radius: 0px 0px 12px 12px;
  gap: 22px;
}
.coach-profile-list-right .calendar-legend span {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto";
  color: #1a1a1a;
}
.coach-profile-list-right .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.coach-profile-list-right .calendar-legend span.dot.available-dot {
  margin-right: 8px;
}
.coach-profile-list-right .available-dot {
  background-color: #50c878;
  padding: 11px;
}
.coach-profile-list-right .unavailable-dot {
  background-color: #fb3f4a;
  padding: 11px;
}
.coach-profile-list-right .profile-message {
  padding: 15px;
  border: solid 1px #d7d7d7;
  border-radius: 0px 0px 12px 12px;
  padding-top: 25px;
  padding-bottom: 30px;
}
.coach-profile-list-right .profile-message i {
  padding-right: 10px;
  font-size: 20px;
}

.coach-profile-list-right .coach-banner-add .filter-section button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-right: 5px;
}

.coach-profile-list-right .social-links h5 {
  font-size: 15px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto";
  padding-top: 10px;
}

.coach-profile-list-right .form-check-input[type="checkbox"] {
  border-radius: 0.25em;
  box-shadow: none !important;
  background-color: #00b207 !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 8px !important;
}

.coach-profile-list-right .form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  background-color: #00b207 !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 8px !important;
}

.coach-profile-list-right input#no {
  background-color: #cccccc !important;
  margin-top: 0px;
}
.coach-profile-list-right input#flexCheckDefault {
  background-color: #cccccc !important;
  margin-top: 0px;
}
.related-coaches-inner button.owl-prev span {
  background-color: #009bfa;
  padding: 0px;
  border-radius: 100px;
  font-size: 35px;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  line-height: 0.7;
  color: #fff;
  border: solid 1px #009bfa;
  padding-right: 2px;
  margin-right: 10px;
  font-weight: 300;
}
.related-coaches-inner button.owl-next span {
  background-color: #009bfa;
  padding: 0px;
  border: solid 1px #009bfa;
  border-radius: 100px;
  font-size: 35px;
  display: flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  line-height: 0.7;
  color: #fff;
  padding-left: 2px;
  margin-right: 10px;
  font-weight: 300;
}

.related-coaches-inner .owl-nav.disabled {
  position: absolute;
  right: 0;
  top: -60px;
}
.related-coaches-inner button.owl-prev span:hover {
  border: solid 1px #009bfa;
  background: none;
  color: #009bfa;
}

.related-coaches-inner button.owl-next span:hover {
  border: solid 1px #009bfa;
  background: none;
  color: #009bfa;
}

.coach-profile-list-left .software-engineer-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px !important;
  width: 100% !important;
  align-items: center;
  text-align: center;
}
.coach-profile-list-left .software-engineer-list a {
    color: #000;
    background-color: #e7e8e9;
    border-radius: 18px;
    justify-content: center;
    font-size: 11px;
    text-decoration: none;
    display: flex;
    width: 105px !important;
    padding: 3px 0px !important;
}
.coach-profile-list-left .coaches-view-cards .card-body {
    border: 1px solid #e7e7e7;
    height: 180px !important;
    padding: 10px 10px 20px;
    box-shadow: 0 2px 15px #0000001a;
    overflow-y: scroll;
}
.coach-profile-list-left .coaches-view-cards .card-body::-webkit-scrollbar {
    width: 0px;
}

.about-section.sim-coachs .swiper-button-prev:after, .about-section.sim-coachs .swiper-button-next:after {
  color: #009df6;
  font-size: 15px !important;
}
/*
.swiper-wrapper {
  gap: 5px !important;
} */
.related-coaches-inner .coaches-view-cards .card img {
  width: 100%;
  cursor: pointer;
  height: 200px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.coach-profile-list-right .btn-primary:hover {
  background-color: #1489d1;
}

.yes-no-add {
  display: flex;
}

.calendar-profile-show {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.calendar-profile-show .day-names,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 15px;
}

.calendar-profile-show .day-names div {
  padding: 10px 0;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500;
  color: #333333;
}

.calendar-profile-show .days div {
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.calendar-profile-show .days div:hover {
  color: #50c878;
  font-weight: 500;
}
.calendar-profile-show .today {
  background-color: #fb3f4a !important;
  color: white;
  font-weight: bold;
  border-radius: 100px !important;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-profile-show h4#monthYear {
  font-size: 19px !important;
  font-weight: 700;
  font-family: "Inter";
  color: #333333;
}

.prve-next-btn button#prev {
  background: none;
  color: #333333;
}

.prve-next-btn {
  justify-content: space-between !important;
  align-items: center;
  padding: 15px;
  margin-bottom: 0px !important;
  padding-bottom: 0px;
  padding-left: 25px;
}

.next-prev-part {
  display: flex;
}
.next-prev-part button#next {
  background: none;
  color: #333333;
}
.next-prev-part .bi-chevron-left::before {
  content: "\f284";
  font-size: 15px;
  font-weight: 800 !important;
}
.next-prev-part .bi-chevron-right::before {
  content: "\f285";
  font-size: 15px;
  font-weight: 800 !important;
}
.swiper-slide.swiper-slide-prev {
    margin-right: 10px !important;
}
.swiper-slide.swiper-slide-active {
    margin-right: 10px !important;
}
.next-prev-part i:hover {
  color: #009bfa;
}

.coach-banner-add .coach-card .fav-list-icons {
  margin-left: 4px;
  font-size: 18px;
  margin-top: -2px;
}



span.check-box-add-icons .mui-icons {
  color: #27C200;
}
.coach-banner-add .filter-section svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.css-lohd6h-MuiSvgIcon-root-MuiSelect-icon {
  width: .9em !important;
  position: relative !important;
}
.coach-profile-list-add span.verified-text .mui-icons {
  color: #27C200 !important;
}
span.avail-text .mui-icons {
  color: #7EAAF8 !important;
}
.coach-profile-list-left .profile-card .mui-icons {
  color: #000000;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.MuiPickersArrowSwitcher-leftArrowIcon.css-1ckov0h-MuiSvgIcon-root {
  color: #333333;
}
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit.MuiPickersArrowSwitcher-rightArrowIcon.css-1ckov0h-MuiSvgIcon-root {
  color: #333333;
}

.MuiTabs-list.MuiTabs-flexContainer.css-hzcega-MuiTabs-list button {
  border: none !important;
}

.fav-list svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.mui-iconss.css-1umw9bq-MuiSvgIcon-root {
  color: #fff !important;
}

.coach-action-profile-icon svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.mui-iconss.css-1umw9bq-MuiSvgIcon-root {
  color: #009bfa !important;
}
.css-148tcvt {
  color: #fff !important;
  background-color: #fb3f4a !important;
  font-size: 15px;
}

.css-7f2zis {
  background-color: #d4edda !important;
  color: #50C878 !important;
  font-weight: 600 !important;
}
.css-yh58xt {
  background-color: #d4edda;
  color: #50C878 !important;
  font-weight: 600 !important;
}

.css-12ubr9t {
  width: 36px;
  font-size: 15px !important;
}
.css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  font-size: 15px !important;
}

.MuiBox-root.css-7f2zis {
  font-size: 15px !important;
}

.MuiBox-root.css-yh58xt {
  font-size: 15px !important;
}
.MuiDayCalendar-weekContainer.css-1pv2de5-MuiDayCalendar-weekContainer {
  justify-content: space-around !important;
  margin-bottom: 3px !important;
}

.prve-next-btn {
  align-items: center;
  padding: 15px 40px 0 25px;
}



/*coach-profile-detail-css-desktop*/

/*mobile view css*/

/*coach-list-page-mobile-css*/
@media only screen and (max-width: 767px) {

  .coach-profile-list-left .about-section .certifi {
    display: block ;
}
.css-13xfq8m-MuiTabPanel-root {
  padding: 24px 0px;
}
.item-artcl {
  padding-top: 15px;
}
.certifi img {
    margin-bottom: 14px;
}
.coach-banner-add .main-content {
    flex-direction: column;
    text-align: center;
}
  .coach-banner-add .title-banner p {
    padding-top: 0px;
}
  .css-1yn4ouz-MuiTabs-root .MuiTab-root {
    font-size: 15px;
}

  .swiper-slide.swiper-slide-active {
    width: 100% !important;
}
.css-13xfq8m-MuiTabPanel-root {
  padding: 0px;
  padding-top: 20px;
}
  .sim-coachs .swiper-button-next {
    left: 50px !important;
    right: 0px !important;
    margin: auto !important;
    margin-top: 25px !important;
}
.swiper-button-prev.swiper-button-disabled {
  left: 0px !important;
  right: 50px !important;
  margin: auto !important;
  margin-top: 25px !important;
}
.sim-coachs .swiper-button-prev {
  left: 0px !important;
  right: 50px !important;
  margin: auto !important;
  margin-top: 25px !important;
}
  .about-section.sim-coachs .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden .swiper-wrapper {
    margin-top: 60px;
}
  .calendar.shadow-sm.calendar-profile-show .css-5wchs2-MuiDateCalendar-root {
  height: 300px !important;
}
  .about-section.package_short .d-flex.justify-content-between.align-items-center.mb-3 {
    display: block !important;
}
.about-section.package_short .prev-next-arrow.d-flex.gap-3 {
  justify-content: center;
  margin-top: 0px;
}

.coach-profile-content {
    padding-bottom: 0px;
}
.session-wrapper .session-card {
  padding: 10px;
}
.coach-profile-list-right .profile-message .trial-offer {
  display: flex !important;
}


  .coach-profile-list-left .coaches-view-cards .card-body {
    box-shadow: 0 2px 15px #0000001a;
    height: auto !important;
}
  .coaches-view-cards {
    margin-bottom: 0px !important;
}
  .about-section.publs_artcl .item-artcl img.top-image {
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    display: block;
    margin: 15px 0px;
}
.about-section.publs_artcl img.top-image {
  margin-top: 0px !important;
}
.about-section.publs_artcl .item-cont1 {
  margin-bottom: 25px;
}

.coach-profile-content .about-section.sim-coachs {
  margin-top: 0px;
  padding-top: 0px;
}

.about-section.publs_artcl .artcl-flex .item-cont1 button {
  color: #fff;
  background: #009df6;
  border: 1px solid #009df6;
  border-radius: 12px;
  padding: 8px 35px;
  font-size: 14px;
}


.session-content .icons-row {
    display: flex;
    text-align: center;
    justify-content: center !important;
}
.about-section.package_short .v-all {
  text-align: center;
  margin-top: 20px;
}
.about-section.publs_artcl .artcl-flex {
  display: block;
}

.about-section.publs_artcl .artcl-flex .item-cont1 p {
  height: auto;
}
.about-section.package_short .session-list {
  font-size: 14px !important;
  list-style: none;
  padding-left: 0px !important;
}

  .prev-next-arrow i.bi.bi-chevron-left {
    font-size: 15px;
    width: 26px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prev-next-arrow i.bi.bi-chevron-right {
  font-size: 15px;
  width: 26px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coach-profile-list-left p.senior-engineer-text {
    width: 100%;
}
.session-content .book-btn {
  font-size: 13px;
}
.session-content .d-flex.justify-content-start.gap-2.mt-4 {
  justify-content: center !important;
  margin-top: 0px !important;
}

.session-content button.read-more-btn {
  margin: auto !important;
  margin-top: 10px !important;
  padding: 0 !important;
  font-size: 14px;
  font-weight: 500;
  display: block !important;
}
.coach-profile-list-add span.verified-text {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.coach-profile-list-left .about-section h4 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}
.senior-engineer-details-add .box-txts {
  margin-bottom: 10px;
  display: block;
}

span.avail-text {
  margin-top: 10px;
  justify-content: center;
}

.row.coach-profile-list-inner {
  padding: 30px 0 0;
}
.coach-info .coach-action-share-icon {
  top: 15px;
  right: 15px;
}
.coach-banner-add button.profile {
    border-radius: 12px;
    width: 100%;
}
.container.list-start .info1 {
  text-align: center;
  justify-content: end;
  align-items: baseline;
  display: block;
}
span.MuiRating-root.MuiRating-sizeMedium.Mui-readOnly.css-tw2awz-MuiRating-root {
  font-size: 20px !important;
}

.coach-banner-add .results {
    padding-left: 0px;
    text-align: center;
}
.senior-engineer-details-add .co-name {
  justify-content: center;
  align-items: baseline;
  padding-top: 10px;
}
  .title-banner p {
    margin-top: 40px;
}
.container .sort-container {
  justify-content: center;
  padding-top: 10px;
}
.css-1crh3dt {
  width: 100% !important;
  padding: 16px;
  padding-bottom: 0px;
}
.search-container {
  justify-content: center;
  padding-top: 0px;
  display: block;
}
input.form-control.search-input {
  width: 100%;
  height: 50px;
  font-size: 16px;
}
.coach-banner-add .breadcrumb-nav {
  margin-top: 40px !important;
}
.ai-btn-find {
  margin-top: 15px;
  padding-bottom: 35px;
}
.ai-btn-find button {
  width: 65%;
  margin-left: 0px;
  height: 45px;
}
  .coach-banner-add .container.list-start {
    display: block;
    padding: 20px;
  }
  .coach-banner-add .coach-card {
    display: block;
    padding: 20px;
  }
  .senior-engineer-details-add {
    display: block;
    text-align: center;
  }
  .coach-banner-add .overlay {
    width: 100%;
    background: url("/coachsparkle/images/coach-list-banner-img.png");
    background-repeat: no-repeat;
    height: 180px;
    background-size: cover;
  }
  .coach-banner-add .banner-text {
    z-index: 2;
    height: auto;
    font-size: 24px;
    bottom: -30px;
}
.css-13xfq8m-MuiTabPanel-root {
  padding-bottom: 0px !important;
  padding: 24px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.coach-profile-list-left .profile-card .badge-tag {
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
}

.coach-banner-add p.senior-engineer-text strong {
  text-align: center;
}

  .coach-banner-add .sidebar {
    width: 100%;
    padding: 0px;
    height: fit-content;
  }
  .coach-banner-add .coach-card img {
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
    height: 350px;
    object-position: top;
}
  .coach-banner-add .coach-info h2 {
    margin: 0 0 5px;
    font-size: 21px;
    padding-top: 10px;
  }
  .coach-banner-add .coach-actions .price {
    text-align: center;
  }
  .coach-banner-add .description {
    font-size: 13px;
    padding-bottom: 15px;
    margin-top: 0;
  }
  .coach-banner-add .tags span {
    display: inline-block;
    margin-top: 15px;
  }
  .coach-banner-add .coach-actions .price {
    margin-bottom: 0px;
    font-size: 21px;
  }
  .coach-banner-add .tags span {
    margin: 15px 5px 0 0;
    padding: 10px 15px;
    font-size: 13px;
    display: flex;
    justify-content: center;
}
.pagination-content-inner .pagination {
  gap: 5px;
  padding-top: 0;
  padding-right: 0;
  justify-content: center !important;
}
  .pagination-content-inner .page-btn,
  .page-number {
    padding: 6px 6px;
    font-size: 14px;
    transition: background-color 0.2s, color 0.2s;
  }
  .pagination-content-add {
    padding-top: 0px !important;
    padding-bottom: 20px;
  }
  .coach-banner-add p.senior-engineer-text {
    margin-bottom: 5px;
    justify-content: center;
  }
  .coach-banner-add button.book {
    padding: 11px 12px;
    border-radius: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .coach-banner-add button.book-latest-package{
    padding: 11px 12px;
    border-radius: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .coach-banner-add .coach-actions {
    min-width: 155px;
    padding-bottom: 5px;
  }
  .coach-banner-add .banner {
    height: auto;
    position: relative;
  }

  /*coach-profile-list-page-mobile-css*/
  .col-md-8.coach-profile-list-left {
    padding-left: 5px !important;
    padding-right: 5px !important;
    width: 93%;
    margin: auto;
}
  .coach-profile-list-left .coach-profile-content .coach-card {
    padding: 0px;
  }

  .coach-profile-list-left .senior-engineer-details-add {
    display: block;
  }
  .coach-profile-list-left .senior-engineer-details-add strong {
    text-align: left;
    font-size: 15px !important;
  }
  .coach-profile-list-left .profile-card {
    max-width: 350px;
    text-align: left;
  }

  .coach-profile-list-left .profile-card .info-item span {
    padding-top: 0;
    font-size: 14px;
    padding-right: 0;
  }

  .coach-profile-list-left .coach-profile-content {
    position: relative;
  }
  .coach-action-profile-icon {
    margin-left: 20%;
    position: absolute;
    top: 69px;
    right: 15px;
}

  .coach-action-profile-icon i.bi.bi-heart {
    padding: 8px 10px;
    font-size: 18px;
    line-height: 2.5;
  }
  .coach-profile-list-left .coach-info h2 {
    margin: 0 0 0px;
    padding-top: 14px;
    font-size: 20px;
    justify-content: center;
}

  .coach-profile-list-left .coach-profile-content .tags span {
    display: inline-block;
    padding: 6px 15px;
    margin: 5px 5px 0 0;
    font-size: 13px;
    margin-top: 10px;
  }

  .coach-profile-list-left .about-section {
    text-align: center;
    margin-top: 15px !important;
    padding-bottom: 10px !important;
}

  .coach-profile-list-left .about-section p {
    font-size: 14px;
    line-height: 24px;
  }

  .coach-profile-list-left .coach-profile-content h5.what-user-text {
    color: #000000;
    padding-top: 20px;
    text-align: center;
  }

  .coach-profile-list-left .coach-profile-content .review-section .review-card {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
  .review-section .review-adding {
    display: flex;
    gap: 0px;
    justify-content: center;
  }
  .services-offered .tags {
    margin-top: 15px;
    justify-content: center;
  }

  .related-coaches-inner .coaches-view-cards .card img {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    margin-top: 50px;
  }

  .related-coaches-inner .owl-nav.disabled {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

  .related-coaches h5.what-user-text {
    padding-bottom: 10px;
  }

  .related-coaches-inner .col-12.col-sm-6.col-md-4.coaches-view-cards {
    width: 100%;
  }
  .related-coaches .owl-carousel .owl-stage-outer {
    -webkit-transform: translate3d(0, 0, 0);
    padding-bottom: 0px;
  }

  .related-coaches .owl-carousel .owl-dots {
    display: none;
  }

  .coach-profile-list-right .profile-card {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 25px;
    margin-left: 3px;
  }
  .coach-profile-list-right .top-image {
    width: 100%;
    height: 235px;
  }
  .coach-profile-list-right .price {
    margin: 5px 0;
    margin-top: 0px;
    text-align: center;
  }

  .coach-profile-list-right .trial-offer {
    display: block;
    justify-content: space-between;
    text-align: center;
    height: auto;
  }
  .yes-no-add {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 3px;
  }

  .coach-profile-list-right .social-links {
    margin-top: 10px;
    text-align: center;
  }
  .coach-profile-list-right .calendar {
    width: 100%;
    max-width: 95%;
    margin-top: 35px;
    margin-left: 2px;
    margin-bottom: 25px;
}

  .coach-profile-list-inner {
    padding: 50px 0;
    padding-bottom: 0px;
  }
  .review-section .review-content {
    flex: 1;
    text-align: center;
  }
}

.co-name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.co-name span {
  margin-left: 20px;
  text-align: center;
  color: #104e00;
  background-color: #e4f9e0;
  border-radius: 50px;
  padding: 5px 10px;
  font-family: Roboto;
  font-weight: 500;
}
.co-name span .bi-check-circle-fill {
  color: #27c200;
}
.fav-list {
  position: absolute;
  left: 35px;
  top: 35px;
}
.fav-list span {
  padding: 15px;
  border-radius: 50px;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #009bfa;
  border: 1px solid #009bfa;
  color: #ffffff;
  cursor: pointer;
}
.fav-list span .bi-heart {
  font-size: 18px;
  margin-top: 3px;
}
.range_sld {
  padding-left: 0px;
}
.range_sld .css-1xcmt9q-MuiSlider-thumb {
  background-color: #fff !important;
  border: solid 2px #009bfa !important;
}
p.small-txt {
  text-align: center;
  font-weight: 600;
}

.coach-banner-add .rating-star label {
  font-size: 24px;
}

.certifi {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* space between items */
}
.certifi img {
  object-fit: cover;
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  width: 100%;
  height: 165px;
  padding: 10px;
  display: block;
}
.tabs-block button.Mui-selected {
  background: #009df6;
  color: #ffffff !important;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.tabs-block span.MuiTabs-indicator {
  background-color: #009df6 !important;
}
.rating-star-adding {
  margin-left: 15px;
}

.filter-section .MuiSelect-select {
  padding: 10px 10px;
}
.filter-section .MuiFormControl-root {
  width: 240px;
}
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0px !important;
}
.MuiListItemText-root {
  margin-left: 5px;
}
li.MuiListSubheader-root {
  background: #d9d9d9 !important;
  color: #1c1c1e;
  font-size: 16px;
}

p.senior-engineer-text span {
  font-weight: 400;
}
.coach-profile-list-left .tags h6 {
  font-weight: bolder;
}
span.avail-text {
  background: #cfe0fe;
  /* color: #1c1c1e; */
  border-radius: 100px;
  align-items: center;
  padding: 5px 5px 5px 5px;
  font-weight: 500;
  display: flex;
  font-size: 14px;
  height: 35px;
}
span.avail-text i.bi.bi-check {
  background-color: #7eaaf8;
}

.coach-action-share-icon {
  position: absolute;
  top: 60px;
  right: 0;
  cursor: pointer;
  background-color: #009bfa26;
  border-radius: 4px;
  padding: 0 13px;
  font-size: 21px;
  line-height: 2.3;
  position: absolute;
  top: 59px;
  right: 0;
  color: #009bfa !important;
}
.coach-action-share-icon i {
  color: #009bfa;
  cursor: pointer;
  background-color: #009bfa26;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 21px;
  line-height: 2.5;
}

.session-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.session-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 450px;
  flex: 450;
  border: 1px solid #d7d7d7;
  padding: 20px;
}
.session-card img {
  width: 100%;
  height: auto;
  display: block;
}
.session-content {
  padding: 20px;
  background-color: #f4f4f4;
  border-top: 10px solid #e7e6e6;
}
.session-content h2 {
    margin: 10px 0;
    font-size: 19px;
}
.icons-row {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  gap: 6px;
}
.session-description {
  font-size: 14px;
  color: #444;
  margin-bottom: 15px;
}
.session-list {
  margin: 0 0 15px;
  padding-left: 20px;
  font-size: 14px;
  color: #444;
}
.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.book-btn {
  background-color: #009bfa;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 6px;
  margin-bottom: 10px;
}
.slots-left {
  color: #e53935;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.slots-left::before {
  content: "🔥";
  margin-right: 5px;
}
.note {
  font-size: 12px;
  color: #888;
  font-style: italic;
  text-align: center;
}
button.nav-arrow.left-arrow {
  color: #009bfa;
  background-color: #fff;
  border: 1px solid #009bfa;
  border-radius: 50px;
  font-size: 18px;
  width: 38px;
  height: 38px;
}

button.nav-arrow.left-arrow:hover {
  border-radius: 50px;
  background-color: #009bfa;
  border: 1px solid #009bfa;
  color: white;
  font-size: 18px;
}

button.nav-arrow.right-arrow {
  border-radius: 50px;
  background-color: #ffffff;
  border: 1px solid #009bfa;
  color: #009bfa;
  font-size: 18px;
  width: 38px;
  height: 38px;
}

button.nav-arrow.right-arrow:hover {
  border-radius: 50px;
  background-color: #009bfa;
  border: 1px solid #009bfa;
  color: white;
  font-size: 18px;
}

.session-content button.read-more-btn {
  color: #009bfa;
  cursor: pointer;
  background: none;
  border: none;
  margin-left: 5px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px !important;
}
.session-content button.read-more-btn:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .session-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.info1 {
  display: flex;
  justify-content: end;
  align-items: baseline;
}
button.ai-mtc {
  background: #009bfa;
  color: #ffffff;
  border: 1px solid #009bfa;
  border-radius: 12px;
  padding: 10px 20px;
  margin-left: 15px;
}

.tabs-block button {
  color: #000000;
  text-transform: capitalize;
  font-size: 16px;
}
.package_short {
  margin: 0px !important;
  padding: 0px !important;
}
.package_short h4 {
  margin-bottom: 25px;
}
.v-all {
  text-align: right;
  margin-top: 20px;
}
.v-all button {
  font-weight: 600;
  background: none;
  border: none;
  color: #009df6;
}
.publs_artcl {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  padding-top: 0px !important;
}
.artcl-flex {
  flex-wrap: wrap;
  gap: 30px;
  display: flex;
}
.item-artcl {
  flex: 300;
  max-width: 300px;
}
.item-artcl img.top-image {
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    width: 100%;
    height: 120px;
    margin-bottom: 15px;
    display: block;
}
.artcl-flex .item-cont1 h4 {
  font-size: 16px;
  line-height: 20px;
}
.artcl-flex .item-cont1 p {
  height: 80px;
  font-size: 14px;
  line-height: 18px;
}
.artcl-flex .item-cont1 button {
  color: #fff;
  background: #009df6;
  border: 1px solid #009df6;
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 14px;
}

.sim-coachs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.about-section.sim-coachs .swiper {
  padding-top: 50px;
}
.about-section.sim-coachs {
  padding-bottom: 0px !important;
  gap: 15px;
}
.about-section.sim-coachs h4 {
  margin-bottom: -45px;
  margin-top: 24px;
}
.swiper-wrapper {
  padding-bottom: 30px;
}
.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden
  .swiper-wrapper {
  margin-top: 10px;
}
.sim-coachs .swiper-button-prev,
.sim-coachs .swiper-button-next {
  top: 25px; /* adjust as needed */
  width: 35px;
  height: 35px;
  background: #fff;
  border: 1px solid #009df6; /* optional for better visibility */
  border-radius: 50%;
  z-index: 10;
}
.sim-coachs .swiper-button-prev {
  right: 50px; /* move to left of 'next' */
  left: auto;
}
.sim-coachs .swiper-button-next {
  right: 10px;
}
.about-section.sim-coachs .swiper-button-prev::after {
  font-size: 20px;
  color: #009df6;
}
.about-section.sim-coachs .swiper-button-next::after {
  font-size: 20px;
  color: #009df6;
}
.sim-coachs .swiper-button-next:hover {
  background: #009df6;
  color: #ffffff;
  border: 1px solid #009df6;
}
.sim-coachs .swiper-button-next:hover::after {
  color: #ffffff;
}
.sim-coachs .swiper-button-prev:hover::after {
  color: #ffffff;
}
.sim-coachs .swiper-button-prev:hover {
  background: #009df6;
  color: #ffffff;
  border: 1px solid #009df6;
}

.modal-content {
  height: auto;
  overflow: hidden;
  width: 700px;
  padding: 0 !important;
}

.modal-body {
  overflow-y: auto;
  width: 640px auto;
  max-height: auto;
  padding-right: 15px;
}



.sort-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: right;
}
.sort-container span.sort-by-text {
  width: 90px;
  color: #696974;
  font-size: 15px;
}
.sort-container select.option-tab {
  width: 35%;
  cursor: pointer;
  color: #696974;
  font-size: 15px;
}

.sort-container select.best-tab {
  cursor: pointer;
  width: 60%;
  color: #696974;
  font-size: 15px;
}

.coach-profile-list-inner .mui-iconss {
    width: 20px !important;
    height: 46px !important;
    justify-content: center;
    display: flex;
}

.details-add-reviews {
    justify-content: right;
    display: flex;
    margin-top: -15px;
}
.details-add-reviews button.detail-review {
    font-size: 14px !important;
    background: #009df6;
    border: 1px solid #009df6;
    border-radius: 12px;
    padding: 8px 11px;
    color: #fff;
}
