.sparklebot-wrapper.card.p-3.shadow-sm {
    width: 65%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
img.sb-avatar-img {
    width: 150px;
    border-radius: 5px;
    height: 150px;
    object-fit: cover;
}
.d-flex.align-items-center.mb-2 {
    justify-content: center;
    text-align: center;
}

button.btn.btn-link.btn-sm {
    color: #fff;
    background-color: #009bfa;
    border: none;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 10px 42px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.mt-3.d-flex.justify-content-between {
    justify-content: left !important;
    margin-top: 30px !important;
}
.bot-msg.p-3.mb-3.rounded.bg-light {
    margin-top: 20px;
    margin-bottom: 10px;
}
.sb-input {
    display: flex;
    align-items: center;
    gap: 20px;
}

button.btn.btn-primary.sb-submit {
    padding: 16px;
    margin-top: 0;
    background-color: #009BFA;
    border: none;
}


textarea.form-control.sb-text {
    box-shadow: none !important;
}


.d-flex.align-items-center.mb-2 strong {
    color: #009bfa;
    font-size: 40px;
}


.small.text-muted {
    font-size: 18px;
    text-align: left;
    width: 100%;
}

.sb-choices button {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: solid 1px #009BFA;
}

.sb-choices button:hover {
    background: #009bfa;
    border: 1px solid #009bfa !important;
    color: #fff;
}

.bot-msg.p-3.mb-3.rounded.bg-light {
    align-items: center;
    display: flex;
    padding: 20px !important;
    flex-direction: column;
}
.industry-add-content button {
    border: solid 2px lightgray;
    border-radius: 50px;
    padding: 8px 20px;
}


.industry-add-content button:hover {
    background-color: #009bfa;
    border: solid 2px #009bfa;
}
.find-my-matches-btn-add button.btn {
    text-align: center;
    background: rgb(0, 155, 250);
    border: none;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-weight: 600;
    color: #FFF;
    padding: 14px;
}

.fw-semibold {
    width: 100%;
}

span.badge.bg-success {
    padding: 9px 15px;
}


a.btn.btn-outline-primary.btn-sm {
    color: #009bfa;
    border: solid 1px #009bfa;
}


a.btn.btn-outline-primary.btn-sm:hover {
    background: #009bfa;
    color: #fff;
}


button.btn.btn-primary.btn-sm {
    background: #009bfa;
    border: solid 1px #009bfa;
}

a.btn.btn-outline-primary.btn-sm {
    color: #009bfa;
    border: solid 1px #009bfa;
    padding: 9px 20px;
}



.start-over-btn-add button.btn.btn-sm:hover {
    background: #009bfa;
    color: #fff;
}

.start-over-btn-add {
    padding: 15px 0px;
}

button.over-start-btn {
    width: 50%;
    border: solid 1px #009bfa;
    padding: 10px;
    margin-top: 20px;
}

button.over-start-btn:hover {
    background: #009bfa;
    color: #fff;
}

.text-end .fw-bold.text-primary {
    color: #009bfa !important;
}

.best-matches h5 {
    width: 40%;
}

.best-matches {
    margin-top: 20px;
}

button.btn.btn-outline-primary.btn-sm:hover {
    background: #009bfa;
    border: solid 1px #009bfa;
    color: #fff;
}
button.btn.btn-outline-primary.btn-sm {
    color: #212529bf;
    border: solid 1px #009bfa;
}

.start-over-btn-add a.btn.btn-sm {
    width: 50%;
    border: 1px solid #009bfa;
    padding: 14px;
    font-size: 15px;
}

.start-over-btn-add a.btn.btn-sm:hover {
    background: #009bfa;
    color: #fff;
}

.start-over-btn-add button.btn.btn-sm {
    width: 50%!important;
    border: 1px solid #009bfa;
    padding: 14px;
    font-size: 15px;
}
