

.account-section {
    background-color: #fff;
    padding: 0 2.375rem 2.375rem;
    padding-right: 0px;
}

  .account-setting {
    border-radius: 12px;
    border: 1px solid #d7d7d7;
    padding: 2rem;
  }

  .account-setting .account-form{
      max-width: 1100px;
      width: 88% !important;
      margin: 0 !important;
      display: block !important;
  }

  .account-setting-form{
      border-bottom: 1px solid #d7d7d7;
      padding-bottom: 50px;
  }

  .account-setting-form input[type="checkbox"] {
      height: 23px;
      width: 30px;
  }

  .upload-photo-add {
      align-items: center !important;
      gap: 20px !important;
      margin-bottom: 30px !important;
      display: flex !important;
  }

  .upload-photo-add img {
      object-fit: cover !important;
      border: 2px solid #e5e7eb !important;
      border-radius: 50% !important;
      width: 72px !important;
      height: 72px !important;
  }

  .upload-btn {
      color: #009bfa !important;
      cursor: pointer !important;
      border: 1px solid #009bfa !important;
      border-radius: 10px !important;
      align-items: center !important;
      gap: 6px !important;
      padding: 10px 25px !important;
      font-size: 14px !important;
      display: inline-flex !important;
      font-weight: 600;
  }

  .account-form-group {
      flex-direction: column;
      display: flex;
  }

  .account-form-group input.form-control:focus {
      box-shadow: none;
      border: 3px solid black;
  }

  .account-form-row {
      gap: 20px;
      margin-bottom: 20px;
      display: flex;
  }

  .account-form-row.account-two-cols .account-form-group {
    flex: 1 1 48%;
  }
  .account-form-row.account-three-cols .account-form-group {
    flex: 1 1 33%;
  }
  .account-form-row.account-four-cols .account-form-group {
    flex: 1 1 22%;
  }

  .account-form-group label {
      color: #111827;
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: 500;
      display: inline-block;
  }

  .account-form-group input, .account-form-group select {
      background: #fff;
      border: 1px solid #d1d5db;
      border-radius: 12px;
      padding: 13px 14px;
      font-size: 14px;
  }


  .react-tel-input .form-control {

      background: #fff;
      border: 1px solid #cacaca;
      border-radius: 12px !important;
    height: 50px !important;
      margin-left: 0;
      padding-left: 48px;
      font-size: 14px;
  }

  .react-tel-input .flag-dropdown {
    background: transparent !important;
    border: none;
    border-radius: 12px 0 0 12px !important;
  }

  .react-tel-input .selected-flag:hover {
    background-color: transparent !important;
      border-radius: 12px 0 0 12px !important;
  }

  .save-changes-btn{
      color: #fff;
      cursor: pointer;
      background-color: #009bfa;
      border: none;
      border-radius: 12px;
      align-items: center;
      gap: 6px;
      padding: 12px 40px;
      font-size: 15px;
      display: flex;
      margin-top: 30px;
      font-weight: 600;
  }

  .notification-section{
      border-bottom: 1px solid #d7d7d7;
      padding-bottom: 50px;
  }

  .privacy-section{
          border-bottom: 1px solid #d7d7d7;
      padding-bottom: 50px;
  }

  .privacy-section.title{
      font-size: 12px;
      font-weight: 500;
  }

  .privacy-section input[type="checkbox"] {
      height: 23px;
      width: 30px;
  }

  .delete-account input[type="checkbox"] {
      height: 23px;
      width: 30px;
  }

  .delete-account .delete-btn {
    color: #ff4f4f;
    background-color: #ffe5e5;
    border: 1px solid #ffe5e5;
    border-radius: 12px;
    margin-top: 30px;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 600;
}

.under-line-text span.title {
    text-decoration: underline;
}
div#cookieModal .modal-body {
    padding-top: 0px;
}

div#cookieModal .modal-footer.border-0.three-btn-add button {
    width: 31%;
    padding: 8px 4px;
    font-size: 14px;
    background: #009bfa;
    color: #fff;
    border: none;
}
div#cookieModal .modal-footer.border-0.three-btn-add {
    display: flex;
    justify-content: center;
    padding-top: 0px;
}

div#cookieModal input {
    padding: 0 24px;
}


div#cookieModal .one {
    border: 2px solid #6e7191 !important;
    border-radius: 10px 10px 0 0 !important;
    border-bottom: 0px !important;
}
div#cookieModal .two {
    border-radius: 0px 0px 0px 0px !important;
    border-top: solid 0px !important;
    border: solid 2px #6E7191 !important;
}
div#cookieModal .two, div#cookieModal .three {
    border: 2px solid #6e7191 !important;
    border-radius: 0 !important;
    border-bottom: 0px !important;
}
div#cookieModal .four {
    border-radius: 0px 0px 10px 10px !important;
    border: solid 2px #6E7191 !important;
}

.phone-input-css input.is-invalid {
    width: 83%;
    margin-left: 39px;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    padding: 11px 14px;
    outline: none;
}

.phone-input-css .react-tel-input .form-control {
    letter-spacing: .01rem;
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    outline: none;
    width: 300px;
    height: 45px !important;
    margin-left: 0;
    padding-left: 46px;
    font-size: 14px;
    line-height: 25px;
    position: relative;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.phone-input-css .react-tel-input .flag-dropdown {
    background-color: #f5f5f5;
    border: 1px solid #cacaca;
    border-radius: 3px 0 0 3px;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
}

.phone-input-css .react-tel-input .selected-flag {
    border-radius: 3px 0 0 3px;
    outline: none;
    width: 38px;
    height: 100%;
    padding: 0 0 0 8px;
    position: relative;
}

.phone-input-css .react-tel-input .selected-flag .arrow {
    width: 0px;
    height: 0px;
    margin-top: -2px;
    position: relative;
    top: 50%;
    left: 20px;
    border-top: 4px solid rgb(85, 85, 85);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
}

.phone-input-css .react-tel-input .flag-dropdown.open .selected-flag {
    border-radius: 3px 0 0;
    background-color: none !important;
}

.react-tel-input input.form-control:focus {
    border: 1px solid #d1d5db;
}

.cookie-modal {
    top: 84px;
}

input[type="radio"] {
    width: 20px;
}


@media only screen and (max-width: 768px) {
 
    .account-setting {
        border: 1px solid #d7d7d7;
        border-radius: 12px;
        padding: 2rem;
        margin-top: 25px;
    }
    .account-form-row {
        gap: 20px;
        margin-bottom: 20px;
        display: block;
    }
    
    .privacy-section .d-flex.gap-2.mb-2.pt-2 {
        display: block !important;
    }
    .account-section {
        background-color: #fff;
        padding: 0 0 2.375rem 2.375rem;
        padding-left: 0px;
        width: 92%;
        margin: auto;
    }
    .account-setting {
        padding: 18px;
    }

    .account-setting .account-form {
        width: 100% !important;
    }

    .delete-account.mt-5 {
        margin-top: 10px !important;
    }
    .privacy-section.mt-5 {
        margin-top: 10px !important;
    }

    .notification-section.mt-5 {
        margin-top: 10px !important;
    }

    .account-setting-form {
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 25px;
    }

    .password-section.mt-5 {
        margin-top: 10px !important;
    }

    .account-setting h3.quick-text {
        padding-top: 0px !important;
    }
    .password-field {
        padding: 5px 0px;
    }

    .account-form-row.account-two-cols .account-form-group {
        flex: 48%;
        padding-bottom: 10px;
    }

    .account-form-row.account-three-cols .account-form-group {
        flex: 33%;
        padding-bottom: 10px;
    }

    .mobile-view-toggle-add {
        width: 100% !important;
        justify-content: space-between;
    }

.mobile-view-toggle-add span.title {
        font-size: 13px;
    }

    .notification-section, .privacy-section {
        padding-bottom: 25px;
    }

    .privacy-section input[type="checkbox"], .delete-account input[type="checkbox"] {
        width: 30px;
        height: 23px;
        margin: 0 8px;
    }

    

}