.favourite-user-warp .status-bar.d-flex.align-items-center.gap-1 {
    background-color: #fff;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 2px 6px #00000014;
}

.favourite-user-warp h4.coaching-tittle-text {
    font-size: 17px;
}
.favourite-user-warp .topbar.d-flex.justify-content-between.align-items-center.py-2.px-2 {
    background-color: #e5e5e5;
    padding-left: 15px !important;
}
.favourite-user-warp .sorting-data.d-flex.align-items-center.gap-2 {
    text-wrap: nowrap;
    font-size: 12px;
}

.favourite-user-warp .sorting-data.d-flex.align-items-center.gap-2 select {
    width: auto;
}

.favourite-user-warp .coaching-content.p-3 {
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    width: 31%;
}

.favourite-user-warp h4.mb-0 {
    font-size: 14px;
    font-weight: 500;
}

.favourite-user-warp svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-x0hvl5-MuiSvgIcon-root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    fill: currentColor;
    font-size: 1.5rem;
    color: #A9A9A9;
}

.favourite-user-warp button.border.px-3.py-1.rounded-pill {
    background-color: #FFA500;
    color: #FFFFFF;
    font-size: 13px;
}

.favourite-user-warp button.border.px-3.py-1.rounded-pill.accepted {
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
}

.favourite-user-warp button.border.px-3.py-1.rounded-pill.ai-matched {
    background-color: rgb(255, 0, 229);
    color: rgb(255, 255, 255);
}

.favourite-user-warp button.border.px-3.py-1.rounded-pill.new-inquiry {
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
}
.favourite-user-warp button.btn.btn-primary.button-note {
    color: #fff;
    background-color: #009bfa;
    border: none;
    border-radius: 12px;
    width: 50%;
    height: auto;
    padding: 12px 10px;
    font-size: 13px;
}

.favourite-user-warp button.btn.btn-outline-secondary.button-msg {
    color: #009bfa;
    background-color: #fff;
    border: 1px solid #009bfa;
    border-radius: 12px;
    width: 98px;
    height: auto;
    padding: 12px 14px;
    font-size: 14px;
}
.favourite-user-warp span.fw-semibold.d-block.name {
    color: #000;
    font-size: 14px;
}

 .favourite-user-warp span.d-block.location {
    color: #000;
    font-size: 10px;
    font-weight: 400;
}
.favourite-user-warp .respond-add {
    align-items: flex-start;
    gap: 10px;
    display: flex;
}
.favourite-user-warp .respond-add p {
    margin-bottom: 0px;
    font-size: 12px;
}
.favourite-user-warp .star-add-pointer {
    display: flex;
    align-items: center;
}
.favourite-user-warp .star-add-pointer p {
    font-weight: 600;
}

.favourite-user-warp .view-request {
    margin-top: 18px;
}
.favourite-user-warp .coaching-content p.favourite-text-tittle {
    font-size: 14px;
}
.favourite-user-warp .matched {
    background: #FF00E5;
    color: #fff;
}
.favourite-user-warp {
    padding-top: 0px;
}


.topbar h3 {
    font-size: 24px;
    font-weight: 500;
}

.coaching-progress-status .topbar {
    padding: 15px !important;
}

.coaching-progress-status .coaching-progress.p-3 {
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    width: 31%;
}

span.session {
    color: #6f7c8e;
    font-size: 10px;
    font-weight: 400;
}

.favourite-user-warp span.fw-semibold.d-block.name {
    color: #000;
    font-size: 14px;
}

span.d-block.time {
    color: #616161;
    font-size: 11px;
    font-weight: 400;
}

.coaching-progress-status button.border.px-3.py-1.rounded-pill {
    background-color: #28a745;
}

.coaching-status {
    border: 1px solid #d7d7d7;
    border-radius: 0 0 10px 10px;
    margin-top: 40px;
}

.coaching-progress-status {
    border: 1px solid #d7d7d7;
    border-radius: 0 0 10px 10px;
}

.meditation-package button.border.px-3.py-1.rounded-pill {
    background: #6C757D;
}

.canceled-missed button.border.px-3.py-1.rounded-pill {
    background: #FF0000;
}
.canceled-missed button.btn.btn-primary.button-note {
    padding: 0px 7px !important;
}





