.favourite-coach-page .card.engagements-cards {
    width: 100%;
}
.card.engagements-cards p {
    color: #181a20;
    margin-bottom: 0;
    font-family: inter;
    font-size: 13px;
}

.favourite-coach-page h3.tittle-text {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
}
.row.favourite-coach-page {
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    row-gap: 20px;
    padding: 15px 15px 68px;
    box-shadow: 0 5px 21px -5px #cdd1e1;
}
.favourite-coach-page p.favourite-text-tittle {
    font-size: 16px;
    padding-bottom: 10px;
}
.favourite-coach-page button.start-btn {
    width: 42%;
}

.inner-card-add {
    padding-top: 10px;
    display: flex;
    gap: 8px !important;
    justify-content: space-between;
}

.inner-card-add i.bi.bi-three-dots {
    color: #A9A9A9;
    font-size: 30px;
    margin-top: -10px;
}

.content-wrapper.favourite-coach-warp {
    padding-top: 0px;
    margin-left: 10px;
}

.two-btn-free {
    align-items: baseline;
    gap: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.card.engagements-cards .respond-add img {
    width: 45px;
    height: 45px;
}

