.profile-form-add .card {
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    padding: 20px !important;
}

.content-wrapper {
    padding-right: 20px;
}

.profile-form-add {
    margin-top: 40px;
}
textarea#short_bio {
  min-height: 100px;
  resize: vertical; /* allows manual resizing by the user */
}

.profile-form-add h3.text-your-name {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
}

/* .upload-btn label {
    border: solid 1px #009BFA;
    font-family: 'Inter';
    color: #009BFA;
    border-radius: 12px;
    text-decoration: none;
    padding: 12px 25px;
} */

.upload-btn a {
    border: solid 1px #009BFA;
    font-family: 'Inter';
    color: #009BFA;
    border-radius: 12px;
    text-decoration: none;
    padding: 12px 25px;
}
.upload-photo-add.user-upload-pic img {
    border-radius: 50%;
    width: 55px !important;
    height: 55px !important;
    object-fit: cover;
}
.upload-photo-add {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.upload-photo-add img {
    border-radius: 100%;
    width: 54px;
    object-fit: cover;
    height: 54px;
}

h3.font-weight-bold.quick-text-add.my-changes {
    padding: 0px !important;
    margin-top: 0px;
    margin-left: 0px;
}

.profile-form .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile-form .form-group {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.profile-form .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Roboto';
    color: #181A20;
}

.profile-form .form-group input,
.form-group select,
.form-group textarea {
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 16px;
    height: 48px;
    padding: 8px;
    font-size: 14px;
}

.profile-form .form-group.full-width {
    flex: 1 1 100%;
}

.profile-form button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #13498B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-form button[type="submit"]:hover {
    background-color: #0f3c73;
}

.profile-form {
    width: 85%;
    margin-top: 25px;
}

.profile-form p.set-text-one {
    color: #181A20;
    font-weight: 500;
    padding-top: 20px;
    font-family: 'Roboto';
}

.profile-form p.set-text {
    color: #181A20;
    padding-top: 0px;
    font-family: 'Roboto';
    margin-bottom: 25px;
}

.profile-form-add .form-group.goal {
    display: flex !important;
    flex-direction: row;
    gap: 10px;
}

.form-group.goal input[type="text"] {
    width: 100%;
    height: 118px;
}

.form-group.goal label {
    width: 68px;
}

.form-group.goal textarea {
    width: 100%;
    height: 118px;
}

.form-row.preference-input {
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile-form input#timings {
    margin-bottom: 15px;
}

.profile-form textarea#bio {
    height: 118px;
}

.profile-form .form-group.check-box {
    display: flex !important;
    flex-direction: row;
    align-items: anchor-center;
    gap: 5px;
}

.profile-form .form-group.check-box label {
    margin-bottom: 0px;
    font-weight: 400;
}

.profile-form .form-group.check-box input#coachAgreement {
    width: 18px;
    cursor: pointer;
}

.profile-form button.save-btn-add {
    color: #fff;
    cursor: pointer;
    background-color: #009BFA !important;
    border: none;
    border-radius: 12px;
    padding: 14px 20px !important;
    font-size: 15px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    gap: 5px;
}

.profile-form .save-btn-add:hover {
    background-color: #009BFA !important;
}

.profile-form .save-btn {
    float: right;
    margin: auto !important;
    display: flex !important;
    justify-content: right !important;
}

.upload-btn {
    color: #009bfa;
    cursor: pointer;
    border: 1px solid #009bfa;
    border-radius: 10px;
    align-items: center;
    gap: 6px;
    padding: 10px 18px;
    font-size: 14px;
    display: inline-flex;
}

/* .user-upload-pic .upload-btn {
    padding: 10px 18px;
    font-size: 14px;
    border: 1px solid #009bfa;
    color: #009BFA;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
} */


.form-select-multi {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 16px;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 52px;
  padding: 6px 12px;
  transition: border-color 0.3s;
  display: flex;
  position: relative;
}

.form-select-multi .dropdown-icon {
  margin-left: auto;
}



.dropdown-menu {
  display: none;
  z-index: 10;
  border-radius: 12px;
  max-height: 200px;
  position: absolute;
  top: 100%;
  overflow: auto;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown-menu.show {
  display: block;
}

.pill-tag {
    background: #e0e0e0;
    border-radius: 12px;
    align-items: center;
    margin: 2px;
    padding: 4px 8px;
    font-size: .9rem;
    display: inline-flex;
}


.pill-tag button {
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 4px;
    font-size: 1rem;
}