.faq-support-add input {
    color: #000;
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    height: 52px;
    box-shadow: none !important;
}

.faq-support-add select{
    color: #000;
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    height: 52px;
    box-shadow: none !important;
}

.faq-support-add {
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    box-shadow: 0 2px 15px #00000017;
    padding: 25px;
}
.faq-support-add h4 {
    font-size: 24px;
    color: #000;
    border-bottom: solid 1px #d7d7d7;
    padding-bottom: 10px;
}
.faq-support-add .form-checkbox {
    align-items: center;
    gap: 10px;
    display: flex;
    padding: 8px 0px;
}

.faq-support-add button.btn.btn-primary {
    color: #fff;
    cursor: pointer;
    background-color: #009bfa;
    border: none;
    border-radius: 12px;
    align-items: center;
    gap: 6px;
    padding: 12px 28px;
    font-size: 15px;
    display: flex;
}


.custom-file-input-wrapper {
    color: #6b7280;
    background-color: #f5f5f5;
    border-radius: 50px;
    align-items: center;
    gap: 15px;
    height: 48px;
    font-size: 14px;
    display: flex;
    position: relative;
    width: 50%;
}

.custom-file-hidden {
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-file-btn {
    color: #009bfa;
    cursor: pointer;
    background-color: #f2fff7;
    border: 1px solid #009bfa;
    border-radius: 50px;
    align-items: center;
    height: 48px;
    padding: 6px 35px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.custom-file-placeholder {
    color: #6b7280;
    font-size: 14px;
}

.faq-support-add.faqs-coaches {
    margin-top: 40px;
}
.faq-support-add input#corporateCheck {
    width: 20px;
}

.input-with-btn input[type="text"] {
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 12px;
    outline: none;
    width: 88%;
    height: 55px;
    padding-left: 15px;
    font-family: 'Inter';
}

.input-with-btn {
    gap: 8px;
    display: flex;
    width: 100%;
    margin-top: 45px;
}

.input-with-btn button {
    color: #fff;
    background: #009bfa;
    border: none;
    border-radius: 12px;
    width: 22%;
    height: 55px;
    font-family: 'Inter';
}

.input-with-btn input[type="text"]::placeholder {
    color: #767E94;
}

.faqs-coaches p.looking-coach-text {
    color: #202020;
    padding: 30px 0;
    font-size: 18px;
}

.faqs-coaches .accordion-item {
    border: none;
    border-radius: 9px;
    margin-bottom: 0;
    padding: 5px;
    box-shadow: 0 5px 21px -5px #cdd1e1;
    border: 2px solid #fff;
}
.faq-support-add.faqs-coaches .accordion-body p {
    font-size: 15px;
    line-height: 1.8;
}
.faq-support-add.faqs-coaches .accordion-body {
    padding-top: 0px;
}
.faqs-coaches button.accordion-button {
    box-shadow: none !important;
    background: none !important;
    font-weight: 600;
    font-size: 18px;
}


.faqs-coaches .accordion-button:not(.collapsed) {
    background: #91d5ff;
}

.accordion-text-top {
    padding-top: 30px;
}

.faqs-coaches .accordion-button::after {
    background-image: none !important;
    content: '\F285'; /* Right Arrow */
    font-family: 'bootstrap-icons';
    background-color: #f2f2f2;
    color: #6c757d;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

.faqs-coaches .accordion-button:not(.collapsed)::after {
    content: '\F286'; /* Down Arrow */
    color: #fff;
    background-color: #009bfa;
}
.faqs-coaches .accordion-button:not(.collapsed) {
    color: #000;
}

p.still-below-text {
    color: #000;
    font-weight: 500;
    font-size: 18px;
    padding: 20px 0px;
}
p.still-below-text a {
    color: #009BFA;
}

.faq-form-add {
    padding-top: 30px;
}

label.form-label {
    font-family: 'Roboto';
}

.attach-screenshot {
    padding-top: 25px;
}

.accordion-item:has(.accordion-collapse.show) {
    border: 2px solid #009BFA;
}
.faqs-coaches .accordion-button:after {
    content: "ïŠ…";
    color: #009BFA;
    background-color: #f2f2f2;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-family: bootstrap-icons;
    font-size: 12px;
    transition: all .3s;
    display: flex;
    background-image: none !important;
}

.content-wrapper.new-content-wrapper.coach-wrap {
    padding-top: 0px;
}

.faq-support-add select {
    color: gray;
}

