.MuiPickersDay-root.start-date {
  background-color: #00ccff !important;
  color: white !important;
  border-radius: 50%;
}

.MuiPickersDay-root.end-date {
  background-color: #00ccff !important;
  color: white !important;
  border-radius: 50%;
}

.MuiPickersDay-root.in-range {
  background-color: #00ccff !important;
  color: white !important;
  border-radius: 50%;
}

.availability-calendar .MuiPickersDay-root:hover {
  background-color: #eee;
}


.css-su1ucx-MuiYearCalendar-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    row-gap: 12px;
    padding: 6px 0;
    overflow-y: auto;
    height: 100%;
    width: 279px !important;
    max-height: 280px;
    box-sizing: border-box;
    position: relative;
    -webkit-column-gap: 24px;
    column-gap: 8px !important;
}

.css-1nxbkmn-MuiPickersCalendarHeader-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 4px;
    padding-left: 13px !important;
    padding-right: 12px;
    max-height: 40px;
    min-height: 40px;
}