.coachTopNavberAdd div#navbarTogglerDemo01 {
    justify-content: space-between;
    padding-right: 0px;
}
.coachTopNavberAdd ul.navbar-nav.list-show {
    gap: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
}
.coachTopNavberAdd a.Login-navbar {
    color: #000000 !important;
    font-weight: 700;
    font-size: 15px;
    font-family: "Inter";
}
.coachTopNavberAdd .dropdown-toggle::after {
    content: "\f107";
    font-family: "FontAwesome";
    margin-left: 0;
    vertical-align: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}
.coachTopNavberAdd a.navbar-brand {
    font-weight: 700;
    font-size: 25px;
    padding-left: 50px;
}
.coachTopNavberAdd .container {
    padding: 0;
}
.coachTopNavberAdd {
    background-color: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    height: 100px;
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 999999;
}
.coachTopNavberAdd ul.dropdown-menu.show a {
    font-size: 14px !important;
}
.coachTopNavberAdd ul.dropdown-menu.show li a {
    font-weight: 500 !important;
}
.coachTopNavberAdd ul.navbar-nav.list-show a {
    font-family: inter;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
}

.coachTopNavberAdd a.sign-up-navbar {
    background-color: #009bfa;
    padding: 12px 25px;
    border-radius: 10px;
}
.coachTopNavberAdd .register-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coachTopNavberAdd .register-content span {
    color: #fff;
}
.coachTopNavberAdd .register-content a {
    color: #fff;
    text-decoration: none;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 700;
}
.coachTopNavberAdd .register-content a:hover {
    background-color: #1489d1;
    color: #fff;
}
.coachTopNavberAdd ul.navbar-nav.list-show a:hover {
    color: #009bfa;
}
.coachTopNavberAdd .register-content i.fas.fa-user {
    padding-right: 5px;
}
.hedd{
    color: #1489d1 !important;
    background-color: red;
}