.main-panel h3{
    font-size: 36px;
    font-weight: 500;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 30px;
}
/* h3.message-board-text {
    margin-top: 0px;
} */

/* Optional custom styles for the tooltip */
.custom-tooltip {
  border-radius: 8px;
  max-width: 300px;
  font-size: 14px;
  line-height: 1.4;
  padding: 8px 12px;
}

/* Style the tooltip arrow */
.custom-tooltip-arrow {
  color: #333;
}

.chat-message-start nav{
    flex-wrap: wrap !important;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
}
.left-side-message ul.list-unstyled.mb-0::-webkit-scrollbar {
    width: 0px;
}
li.border-bottom.coach-item {
    margin-bottom: 14px;
    border: none !important;
    padding: 5px 8px;
}
.left-side-message ul.list-unstyled.mb-0 {
    height: 600px;
    overflow-y: scroll;
    margin-right: -24px;
    margin-left: -14px;
}

.both-chat-start a.d-flex.justify-content-between {
    text-decoration: none;
}
.tab {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs .link-nav {
  margin-bottom: 0;
  border: none;
}

.link-nav{
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #1C1C1E;
    background: none;
    border: 0;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    display: block;
}

.link-nav:active, .active {
border-radius: 7px 7px 0px 0px;
    color: #FFFFFF;
  background-color: #009BFA;
  border: 1px solid #009BFA;
}

.card .card-body{
    padding: 0;
}


.chat-message-start .card{
    background-color: #F4F4F4;
    border: 1px solid #D7D7D7 !important;
    border-radius: 0 12px 12px 12px;
    padding: 0px 20px 20px 20px;
}

.chat-message-start h5{
    font-size: 24px;
    margin-top: 20px;

}

.content-panel {
    flex-grow: 1;
    width: 100%;
    padding: 2rem;
}

.right-side-message img {
    width: 50px;
    height: 50px;
}

.col-xl-8 {
    flex: none;
    width: 63%;
}

.row{
    margin-left: 0px !important;
}

.user-message-add-page h3.messages-tittle {
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
}
.message-header {
    color: #000000 !important;
    margin-top: 20px !important;
    display: flex;
    flex-direction: column;
}

.messages-container {
    height: 400px;
    overflow-y: scroll;
}


span.message-sender {
    font-weight: 600;
}
.message-content {
    color: #4A4A4A;
    padding-top: 2px;
}

span.message-time {
    color: #778088;
    padding-top: 2px;
}

.user-message-add-page {
    background-color: #F4F4F4;
    border-radius: 12px;
    padding: 20px;
    border: solid 1px #D7D7D7;
}

.user-message-add-page .card-body {
    background-color: #f3f3f4;
}
.user-message-add-page .card {
    border: none;
}
.left-side-message {
    background: #ffffffd9;
    padding: 15px 10px;
    width: 31%;
}
.left-side-message input.form-control.rounded {
    background-color: #E9E9E9;
    border: none;
    border-radius: 50px !important;
    padding: 12px;
}

.coach-item.active-chat {
  background-color: #009BFA1A;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin: 0;
  padding: 0;
}

.coach-item {
  cursor: pointer;
}


.col-md-12.left-col-add {
    padding: 0px;
}
.card-header.d-flex.justify-content-between.align-items-center {
    border: none;
    background: none;
}
p.small.text-muted.mb-0.time-add {
    padding: 3px 0;
}
.left-side-message img.d-flex.align-self-center.me-2 {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.left-side-message span.badge.rounded-pill.float-end {
    background: #ef811f !important;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side-message .pt-1 p {
    color: #616161;
    font-family: inter;
    font-weight: 500 !important;
}
.left-side-message ul.list-unstyled.mb-0 {
    height: 600px;
    overflow-y: scroll;
}
.left-side-message li.p-2.border-bottom {
    border: none !important;
    padding: 11px 0px !important;
}

.left-side-message ul.list-unstyled.mb-0::-webkit-scrollbar {
    width: 10px;
  }
  .right-side-message .start-chat-add {
    background: #f2f7ff;
    align-items: center;
    padding: 10px;
    display: flex;
    border-radius: 8px;
}

.right-side-message img.alert-icon {
    height: auto;
    padding-right: 10px;
}

.right-side-message a.report-btn-add {
    color: #1c1c1e;
    border: 1px solid #1c1c1e;
    border-radius: 12px;
    padding: 11px 32px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.start-chat-with-coach {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}
.right-side-message {
    background-color: #fff;
    border-radius: 12px;
    border: solid 1px #A9A9A9;
    padding: 15px;
}
.row.both-chat-start {
    gap: 32px;
}

.right-side-message .start-chat-add p {
    font-size: 13px;
}
.right-side-message .user-name-text {
    padding-left: 15px;
    padding-top: 20px;
}

.right-side-message p.first-text-tell {
    color: #000000;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 15px;
    margin-bottom: 0px;
}

.right-side-message .user-name-text span {
    color: #778088;
    font-size: 13px;
}

.right-side-message .hi-text-tell {
    padding-top: 13px;
    color: #4A4A4A;
    font-family: 'Roboto';
}

.right-side-message .reply-name-text {
    padding-left: 15px;
    padding-top: 20px;
}
.right-side-message span.plus-add-value {
    color: #616161;
    margin-right: 5px;
    font-size: 30px;
    cursor: pointer;
}
.right-side-message input#exampleFormControlInput2 {
    border: none;
    border-radius: 11px;
    font-size: 14px;
    padding-left: 45px;
}
.right-side-message i.bi.bi-emoji-smile {
    color: #616161;
    z-index: 99;
    margin-right: -35px;
    font-size: 20px;
    margin-left: 14px;
}
.right-side-message .text-send-message {
    background-color: #f4f4f4;
    align-items: center;
    margin-top: 100px;
    padding: 15px;
    display: flex;
}

.right-side-message .text-send-message input{
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-weight: 400;
    padding-left: 40px;
    width: 100%;
    border-radius: 11px;
}

.right-side-message button.send-message-button {
    background: #009BFA;
    border: none;
    border-radius: 12px;
    padding: 14px 20px;
    color: #fff;
    float: right;
    margin-top: 30px;
}

.custom-btn{
    color: #fff;
    float: right;
    background: #009bfa;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    padding: 14px 20px;
}

.ai-label {
  color: #ff00b8;
  font-weight: 600;
  font-size: 13px;
}

.session-info h6{
    font-size: 14px;
    font-weight: 600;
    color: #1C1C1E;
}

.session-info img{
    width: 25px;
    height: 20px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.left-col-add button.btn.btn-sm.btn-outline-primary {
    background: #089df9;
    border: none;
    color: #fff;
    padding: 8px 12px;
}

@media (max-width: 767px) {
    ul.tab {
        justify-content: space-between;
    }
    .left-side-message ul.list-unstyled.mb-0 {
        height: auto;
        overflow-y: scroll;
    }
    .messages-container {
        height: 300px;
        overflow-y: scroll;
    }
    .right-side-message .text-send-message {
        margin-top: 0px;
    }

     .content-panel.chat-msg-inner-panel {
        padding: 0;
        width: 90%;
        margin: auto;
    }

    .chat-message-start {
        width: 96%;
    }

    .left-side-message {
        background: #ffffffd9;
        width: 100%;
        padding: 15px 10px;
    }

    .col-md-6.col-lg-7.col-xl-8.right-side-message {
        width: 100%;
    }
    .start-chat-with-coach {
        align-items: flex-start;
        gap: 14px;
        display: block;
    }

    .chat-message-start button.link-nav {
        font-size: 14px;
        padding: 4px;
        border: solid 1px lightgray;
        border-radius: 5px;
    }
    .chat-message-start li.item-nav {
        width: 100px;
    }

    .main-panel h3 {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 0;
        font-size: 27px;
        text-align: center;
    }


}